<section>
    <div class="row" data-ng-controller="internAcomplishment.controller" data-ng-init="init()">
        <div class="col-md-12">
            <div class="horizontal-scroll">
                <div id="search">
                    <div class="widgets">
                        <div class="col-md-12">
                            <div ba-panel="" ba-panel-title="{{parametersTitle}}" ba-panel-class="with-scroll">
                                <form>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group"><label for="inputFirstName">Año</label><select class="form-control" title="Seleccione" ng-model="parameters.year" ng-options="i.name for i in reportParameters"></select></div>
                                        </div>
                                    </div>
                                    <center><button type="button" class="btn btn-primary" data-ng-click="process()">Procesar</button> <button type="button" class="btn btn-primary" data-ng-click="exportPDF()">Exportar PDF</button></center>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table" st-table="smartTableData" data-ng-show="showGrid">
                    <tr>
                        <td ng-repeat="item in smartGrid.columns" data-ng-bind="item.displayName"></td>
                    </tr>
                    <tbody>
                        <tr ng-repeat="item in smartTableData">
                            <td class="select-td" data-ng-repeat="column in item.values" data-ng-bind="column.value"></td>
                        </tr>
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
</section>