<section>
    <style>
        \r\n table {
            \r\n font-family: arial, sans-serif;
            \r\n border-collapse: collapse;
            \r\n width: 100%;
            \r\n
        }

        \r\n td,
        th {
            \r\n border: 1px solid #dddddd;
            \r\n text-align: left;
            \r\n padding: 6px;
            \r\n
        }

        \r\n\r\n tr:nth-child(even) {
            \r\n background-color: #dddddd;
            \r\n
        }

        \r\n
    </style>
    <div class="row" data-ng-controller="acomplishmentByCategory.controller" data-ng-init="init()">
        <div class="col-md-12">
            <div class="horizontal-scroll">
                <div id="search">
                    <div class="widgets">
                        <div class="col-md-12">
                            <div ba-panel="" ba-panel-title="{{parametersTitle}}" ba-panel-class="with-scroll">
                                <form>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group"><label for="inputFirstName">Mes</label><select class="form-control" title="Seleccione" ng-model="parameters.month" ng-options="i.name for i in reportParameters.monthListValues"></select></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group"><label for="inputFirstName">Año</label><select class="form-control" title="Seleccione" ng-model="parameters.year" ng-options="i.name for i in reportParameters.yearListValues"></select></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group"><label for="inputFirstName">Sucursal</label><select class="form-control" title="Seleccione" ng-model="parameters.dealer" ng-options="i.name for i in reportParameters.dealerListValues"></select></div>
                                        </div>
                                    </div>
                                    <center><button type="button" class="btn btn-primary" data-ng-click="process()">Procesar</button> <button type="button" class="btn btn-primary" data-ng-click="exportPDF()">Exportar PDF</button></center>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="exportable">
                    <table data-ng-show="smartGrid.data.length>0">
                        <tr>
                            <th rowspan="2" data-ng-bind="smartGrid.structure[0].name">Sucursal</th>
                            <th data-ng-repeat="calibrationType in smartGrid.structure[0].calibrationTypes">
                                <center data-ng-bind="calibrationType.type"></center>
                            </th>
                        </tr>
                        <tr>
                            <th data-ng-repeat="calibrationType in smartGrid.structure[0].calibrationTypes">
                                <table>
                                    <tr>
                                        <th data-ng-repeat="category in calibrationType.categories" data-ng-bind="category.value" style="text-align: center;"></th>
                                    </tr>
                                </table>
                            </th>
                        </tr>
                        <tr data-ng-repeat="dealer in smartGrid.data">
                            <td data-ng-bind="dealer.name"></td>
                            <td data-ng-repeat="calibrationType in dealer.calibrationTypes">
                                <table>
                                    <tr>
                                        <th data-ng-repeat="category in calibrationType.categories" data-ng-bind="category.value"></th>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>