<section>
    <div class="row" data-ng-controller="selfcalibration.controller" data-ng-init="init()">
        <div class="col-md-12">
            <div class="horizontal-scroll">
                <div id="search">
                    <div class="widgets">
                        <div class="col-md-12">
                            <div ba-panel="" ba-panel-title="{{parametersTitle}}" ba-panel-class="with-scroll">
                                <div>
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group"><label for="inputFirstName">Sucursal</label><select class="form-control" title="Seleccione" ng-model="parameters.dealer" ng-options="a.name for a in data.dealers"></select></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group"><label for="inputFirstName">Categoria</label><select class="form-control" title="Seleccione" ng-model="parameters.categoria" ng-options="a.Nombre for a in data.categories | filter: {IdSucursal: parameters.dealer.IdSucursal, TipoCalibracion: 1}"></select></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group"><label for="inputFirstName">Mes Calibracion</label><select class="form-control" title="Seleccione" ng-model="parameters.month" ng-options="a.name for a in data.months"></select></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group"><label for="inputFirstName">Año Calibracion</label><select class="form-control" title="Seleccione" ng-model="parameters.year" ng-options="a.name for a in data.years"></select></div>
                                            </div>
                                        </div>
                                        <center><button type="button" class="btn btn-primary" data-ng-click="process()">Enviar</button> <button type="button" class="btn btn-primary" data-ng-click="cancel()">Limpiar</button></center>
                                    </form>
                                </div>
                                <div  style="width: 1587px;">
                                     <div ng-show="viewCalibracion">
                                        <div data-ng-show="respuesta.length>0">
                                            <style>
                                                \r\n table {
                                                    \r\n font-family: arial, sans-serif;
                                                    \r\n border-collapse: collapse;
                                                    \r\n width: 100%;
                                                    \r\n
                                                }

                                                \r\n td,
                                                th {
                                                    \r\n border: 1px solid #dddddd;
                                                    \r\n text-align: left;
                                                    \r\n padding: 6px;
                                                    \r\n
                                                }

                                                \r\n\r\n .th-colorgris {
                                                    \r\n background-color: #BDB0AD;
                                                    \r\n
                                                }

                                                \r\n\r\n .th-colorred {
                                                    \r\n background-color: #E5240C;
                                                    \r\n
                                                }

                                                \r\n\r\n .th-colorverd {
                                                    \r\n background-color: #00ff00;
                                                    \r\n
                                                }

                                                \r\n\r\n .th-colorbla {
                                                    \r\n background-color: #FCFBFA;
                                                    \r\n
                                                }

                                                \r\n\r\n .th-colorngr {
                                                    \r\n background-color: #282625;
                                                    \r\n color: #FCFBFA;
                                                    \r\n
                                                }

                                                \r\n .scroll {
                                                    \r\n \r\n max-height: 550px;
                                                    \r\n width: 1140px;
                                                    \r\n overflow: auto;
                                                    \r\n
                                                }

                                                \r\n .calibrationClosed {
                                                    \r\n background: green;
                                                    \r\n color: white;
                                                    \r\n
                                                }

                                                \r\n\r\n
                                            </style>
                                            <div>
                                                <center style="padding-top: 15px; color: #209e91;">
                                                    <h1 data-ng-bind="calibrationStatus" data-ng-if="calibrationStatus.length>0" class="calibrationClosed"></h1>
                                                </center>
                                                <table data-ng-show="lista.length>0" class="col-lg-12" style="margin-bottom: 15px;">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <center>Estandares<br>Claves</center>
                                                            </th>
                                                            <th>
                                                                <center>Elementos de<br>Evaluación</center>
                                                            </th>
                                                            <th>
                                                                <center>Estado del<br>estandar</center>
                                                            </th>
                                                            <th>
                                                                <center>Cómo<br>Evaluar</center>
                                                            </th>
                                                            <th>
                                                                <center>Responsable</center>
                                                            </th>
                                                            <th>
                                                                <center>Observaciones del<br>estandar</center>
                                                            </th>
                                                            <th>
                                                                <center>Plan de<br>Acción</center>
                                                            </th>
                                                            <th>
                                                                <center>Responsable del<br>plan de acción</center>
                                                            </th>
                                                            <th>
                                                                <center>Fecha de<br>Compromiso</center>
                                                            </th>
                                                            <th>
                                                                <center>Comentario del<br>plan de acción</center>
                                                            </th>
                                                            <th>
                                                                <center>Estatus</center>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="item in lista | unique: 'ID_Division'">
                                                        <tr>
                                                            <th colspan="11">
                                                                <center><button style="color: #fff !important; background-color: #1c2b36 !important; border-color:white !important; width: 100%;" class="btn btn-default" ng-if="item.expanded" ng-click="item.expanded = false"><strong>{{item.TituloAcordeon}}</strong></button><button style="border-color:white !important; width: 100%;" class="btn btn-primary" ng-if="!item.expanded" ng-click="item.expanded = true"><strong>{{item.TituloAcordeon}}</strong></button></center>
                                                            </th>
                                                        </tr>
                                                        <tr ng-if="item.expanded" ng-repeat="itemtwo in lista | filter: {ID_Division: item.ID_Division} :true as result" "=" "><td><small>{{itemtwo.EstandarClave}}</small></td><td><small>{{itemtwo.EstandarElementoEvaluacion}}</small></td>
                                                            <td><small><select id="selectcolors" ng-model="itemtwo.IdPuntaje" ng-change="cambioEstado(itemtwo.ID,itemtwo.IdPuntaje)" style="background-color: {{itemtwo.ColorEstadoEstandar}}; width: 105px;" ng-disabled="calibrationStatus.length>0  || uTypeVal == 2" ng-options="a.value as a.label for a in standartStates"></select>
                                                        </small>
                                                            </td>
                                                            <td><small>{{itemtwo.EstandarComoEvaluar}}</small></td>
                                                            <td style="width: 10%;">
                                                                <div ng-repeat="resp in responsable | filter: {ID_Estandar: itemtwo.ID} :true as result"><small>{{resp.ResponsableEstandar}}</small></div>
                                                            </td>
                                                            <td editable-td="" row="{{$index}}" field="Observaciones" id="{{itemtwo.ID_Calibracion}}"><textarea rows="6" cols="20" ng-model="itemtwo.Observaciones" style="resize: none;" data-role="none" ng-disabled="calibrationStatus.length>0 ||  itemtwo.IdPuntaje == 0 || uTypeVal == 2"></textarea></td>
                                                            <td editable-td="" row="{{$index}}" field="PlanAccion " id="{{itemtwo.ID_Calibracion}}"><textarea rows="6" cols="20" ng-model="itemtwo.PlanAccion" style="resize: none;" data-role="none" ng-disabled="(calibrationStatus.length > 0 || ( calibrationStatus.length == 0 && itemtwo.IdPuntaje == 1) ) ||  itemtwo.IdPuntaje == 0  || uTypeVal == 2"></textarea></td>
                                                            <td><small><select ng-model="itemtwo.IdResponsablePlanAccion" ng-disabled="(calibrationStatus.length > 0 || ( calibrationStatus.length == 0 && itemtwo.IdPuntaje == 1) ) ||  itemtwo.IdPuntaje == 0  || uTypeVal == 2" data-ng-options="a.IdUsuario as a.NombreUsuario for a in responsablePlanAccion" style="width: 150px;"></select></small></td>
                                                            <td><small><p class="input-group"><input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="itemtwo.FechaCompromiso" ng-change="showDate(itemtwo.FechaCompromiso)" is-open="itemtwo.DatePickerOpen" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" style="width: 97px;" ng-disabled="(calibrationStatus.length > 0 || ( calibrationStatus.length == 0 && itemtwo.IdPuntaje == 1) ) ||  itemtwo.IdPuntaje == 0  || uTypeVal == 2"> <span class="input-group-btn" style="width: 0px !important;"><button type="button" class="btn btn-default" ng-click="open(itemtwo.ID)" ng-disabled="(calibrationStatus.length > 0 || ( calibrationStatus.length == 0 && itemtwo.IdPuntaje == 1) ) ||  itemtwo.IdPuntaje == 0  || uTypeVal == 2"><i class="glyphicon glyphicon-calendar"></i></button></span></p></small></td>
                                                            <td><textarea rows="6" cols="20" ng-model="itemtwo.Comentario" ng-disabled="calibrationStatus.length == 0 || (calibrationStatus.length == 0 && itemtwo.IdPuntaje == 1) || (calibrationStatus.length == 0 && itemtwo.IdPuntaje == 0) || (calibrationStatus.length > 0 && itemtwo.IdPuntaje == 0) || (calibrationStatus.length > 0 && itemtwo.IdPuntaje == 1)  || uTypeVal == 2 || itemtwo.FechaCompromiso < today" style="resize: none;"> </textarea></td>
                                                            <td><select ng-model="itemtwo.PuntajeDealer" ng-disabled="calibrationStatus.length == 0 || (calibrationStatus.length == 0 && itemtwo.IdPuntaje == 1) || (calibrationStatus.length == 0 && itemtwo.IdPuntaje == 0) || (calibrationStatus.length > 0 && itemtwo.IdPuntaje == 0) || (calibrationStatus.length > 0 && itemtwo.IdPuntaje == 1) || itemtwo.FechaCompromiso < today  || uTypeVal == 2" ng-change="cambioEstadoDealer(itemtwo.ID,itemtwo.PuntajeDealer)" style="background-color: {{ getStatusDealerColor(itemtwo.PuntajeDealer)}}; width: 105px;" ng-options="a.value as a.label for a in dealerStates"></select></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div></div>
                                        <div>
                                            <table class="col-lg-8 col-lg-offset-2" data-ng-show="respuesta.length>0" style="margin-bottom: 15px; margin-top: 15px;">
                                                <thead>
                                                    <tr>
                                                        <th class="col-lg-3">                                                            
                                                        </th>
                                                        <th class="col-lg-3">
                                                            <center>Todos</center>
                                                        </th>
                                                        <th class="col-lg-3">
                                                            <center>Asociados al CSI</center>
                                                        </th>
                                                        <th class="col-lg-3">
                                                            <center>Presenciales</center>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th class="th-colorgris">
                                                            <center style="text-align: left;">Numero Total de estandares</center>
                                                        </th>
                                                        <td style="text-align: center;">{{tablaFija.Todos_NumeroTotalEstandares}}</td>
                                                        <td style="text-align: center;">{{tablaFija.CSI_NumeroTotalEstandares}}</td>
                                                        <td style="text-align: center;">{{tablaFija.Presenciales_NumeroTotalEstandares}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="th-colorverd">
                                                            <center style="text-align: left;">Resultados en verde</center>
                                                        </th>
                                                        <td style="text-align: center;">{{tablaFija.Todos_ResultadosVerde}}</td>
                                                        <td style="text-align: center;">{{tablaFija.CSI_ResultadosVerde}}</td>
                                                        <td style="text-align: center;">{{tablaFija.Presenciales_ResultadosVerde}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="th-colorred">
                                                            <center style="text-align: left;">Resultados en rojo</center>
                                                        </th>
                                                        <td style="text-align: center;">{{tablaFija.Todos_ResultadosRojo}}</td>
                                                        <td style="text-align: center;">{{tablaFija.CSI_ResultadosRojo}}</td>
                                                        <td style="text-align: center;">{{tablaFija.Presenciales_ResultadosRojo}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="th-colorngr">
                                                            <center style="text-align: left;">Resultado Global de la categoria</center>
                                                        </td>
                                                        <td style="text-align: center;">{{tablaFija.Todos_ResultadoGlobalCategoria}} <span>%</span></td>
                                                        <td style="text-align: center;">{{tablaFija.CSI_ResultadoGlobalCategoria}} <span>%</span></td>
                                                        <td style="text-align: center;">{{tablaFija.Presenciales_ResultadoGlobalCategoria}} <span>%</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                <div id="actionBar" ng-show="viewActionBar" class="col-lg-12">
                    <center style="margin-top: 15px;"><button type="button" class="btn btn-primary" data-ng-click="saveCalibration()">Guardar</button> <button type="button" class="btn btn-primary" data-ng-click="finalizeCalibration()" ng-show="finalizeButtonVisible">Finalizar</button> <button type="button" class="btn btn-primary" data-ng-click="loadResume()">Generar Minuta</button></center>
                </div>                              
                <div ng-show="viewMinuta" style="padding-top: 15px;">
                    <div class="panel panel-primary" id="minutaExportable">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{moduleName}}</h3>
                        </div>
                        <div class="panel-body" style="overflow-x:auto;overflow-y: auto">
                            <style>
                                \r\n table.tdesing {
                                    \r\n font-family: arial, sans-serif;
                                    \r\n border-collapse: collapse;
                                    \r\n width: 100%;
                                    \r\n
                                }

                                \r\n td,
                                th {
                                    \r\n border: 1px solid #dddddd;
                                    \r\n text-align: left;
                                    \r\n padding: 6px;
                                    \r\n
                                }

                                \r\n .tdesing tr:nth-child(even) {
                                    \r\n background-color: #dddddd;
                                    \r\n
                                }

                                \r\n\r\n
                            </style>
                            <table border="1" class="tdesing">
                                <tr>
                                    <th class="col-lg-2"><img src="assets/img/logo_chevrolet_minuta.jpg" style="width: 100%;"></th>
                                    <th class="col-lg-8">
                                        <b class="col-lg-12" style="text-align:center; font-size: 20px;">Calibración GM Difference</b><br><br>
                                        <b class="col-lg-6" style="text-align:center; font-weight: normal;" data-ng-bind="minutaData.dealerName"></b>
                                        <b class="col-lg-6" style="text-align:center; font-weight: normal;" data-ng-bind="minutaData.calibrationDate | date:'dd/MM/yyyy HH:MM:ssa'"></b>
                                        <b class="col-lg-6" style="text-align:center; font-weight: normal;">Codigo <span data-ng-bind="minutaData.gmCode"></span></b>
                                        <b class="col-lg-6" style="text-align:center; font-weight: normal;"><span data-ng-bind="minutaData.zone"></span></b>
                                    </th>
                                    <th class="col-lg-2"><img src="assets/img/gmdLogo.png" style="width: 100%;"></th>
                                </tr>
                                <!-- <tr>
                                    <th>                                 
                                    </th>
                                    <th>
                                        <table>
                                            <tr>
                                                <center style="font-weight: normal;" data-ng-bind="minutaData.dealerName">
                                                    <center></center>
                                                </center>
                                            </tr>
                                            <tr>
                                                <center style="font-weight: normal;" data-ng-bind="minutaData.calibrationDate | date:'dd/MM/yyyy HH:MM:ssa'">
                                                    <center></center>
                                                </center>
                                            </tr>
                                        </table>
                                    </th>
                                    <th>
                                        <table>
                                            <tr>
                                                <center style="font-weight: normal;">Codigo <span data-ng-bind="minutaData.gmCode"></span></center>
                                            </tr>
                                            <tr>
                                                <center style="font-weight: normal;"><span data-ng-bind="minutaData.zone"></span></center>
                                            </tr>
                                        </table>
                                    </th>
                                </tr> -->
                                <tr>
                                    <th colspan="4" style="font-weight: normal; text-align: left; background-color: #4a4d52; color: white;">Participantes invitados:</th>
                                </tr>
                                <tr>
                                    <th colspan="4" style="font-weight: normal; text-align: left;"><br></th>
                                </tr>
                                <tr>
                                    <th colspan="4" style="font-weight: normal; text-align: left; background-color: #013c9e; color: white;">
                                        <table class="col-lg-12">
                                            <thead>
                                                <tr>
                                                    <th style="font-weight: normal; text-align: center;">
                                                        Nombre
                                                    </th>
                                                    <th style="font-weight: normal; text-align: center;">
                                                        Apellido
                                                    </th>
                                                    <th style="font-weight: normal; text-align: center;">
                                                        Cargo
                                                    </th>
                                                    <th style="font-weight: normal; text-align: center;">
                                                        Firma
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="4" style="font-weight: normal; text-align: left;"><br></th>
                                </tr>
                                <tr>
                                    <th colspan="4" style="font-weight: normal; text-align: left; background-color: #4a4d52; color: white;">Puntos a Revisar:</th>
                                </tr>
                                <tr>
                                    <th colspan="4" style="font-weight: normal; text-align: center;">
                                        Tema
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="4" style="font-weight: normal; text-align: center;">
                                        Revisión de los Resultados Calibración GMD! Mes <span data-ng-bind="minutaData.month.value"></span> Año: <span data-ng-bind="minutaData.year.value"></span>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="4" style="font-weight: normal; text-align: center;">
                                        Cierre
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="4" style="font-weight: normal; text-align: left; background-color: #4a4d52; color: white;">Conclusiones:</th>
                                </tr>
                                <tr>
                                    <th colspan="4" style="font-weight: normal; text-align: left;"><br></th>
                                </tr>
                                <tbody ng-repeat="item in minutaData.conclusionCablibracion">
                                    <tr>
                                        <th colspan="4" data-ng-bind="item.Nombre" data-ng-if="item.id_puntaje==1" style="text-align: center; background: green;color: white;"></th>
                                        <th colspan="4" data-ng-bind="item.Nombre" data-ng-if="item.id_puntaje==3" style="text-align: center; background: red;color: white;"></th>
                                    </tr>
                                    <!-- <tr>
                                        <th colspan="4" style="background: grey;color: white;">Descripción:</th>
                                    </tr> -->
                                    <tr> 
                                        <th colspan="4" data-ng-bind="item.Descripcion" style="background: white; text-align: center;"></th>
                                    </tr>
                                    <tr>
                                        <th colspan="4">
                                            <table style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 25%;background: grey; color: white; text-align: center;">Comentario</th>
                                                        <th style="width: 25%;background: grey; color: white; text-align: center;">Plan de Acción</th>
                                                        <th style="width: 25%;background: grey; color: white; text-align: center;">Responsable</th>
                                                        <th style="width: 25%;background: grey; color: white; text-align: center;">Fecha Compromiso</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 25%; text-align: center;" data-ng-bind="item.Comentarios"></td>
                                                        <td style="width: 25%; text-align: center;" data-ng-bind="item.PlanAccion"></td>
                                                        <td style="width: 25%; text-align: center;" data-ng-bind="item.Responsable"></td>
                                                        <td style="width: 25%; text-align: center;" data-ng-bind="item.FechaCompromiso"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </th>
                                    </tr>
                                </tbody>
                                <tr>
                                    <td colspan="4">
                                        <div>
                                            <table class="col-lg-8 col-lg-offset-2" data-ng-show="respuesta.length>0" style="margin-bottom: 15px; margin-top: 15px;">
                                                <thead>
                                                    <tr>
                                                        <th class="col-lg-3">                                                            
                                                        </th>
                                                        <th class="col-lg-3">
                                                            <center>Todos</center>
                                                        </th>
                                                        <th class="col-lg-3">
                                                            <center>Asociados al CSI</center>
                                                        </th>
                                                        <th class="col-lg-3">
                                                            <center>Presenciales</center>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th class="th-colorgris">
                                                            <center style="text-align: left;">Numero Total de estandares</center>
                                                        </th>
                                                        <td style="text-align: center;">{{tablaFija.Todos_NumeroTotalEstandares}}</td>
                                                        <td style="text-align: center;">{{tablaFija.CSI_NumeroTotalEstandares}}</td>
                                                        <td style="text-align: center;">{{tablaFija.Presenciales_NumeroTotalEstandares}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="th-colorverd">
                                                            <center style="text-align: left;">Resultados en verde</center>
                                                        </th>
                                                        <td style="text-align: center;">{{tablaFija.Todos_ResultadosVerde}}</td>
                                                        <td style="text-align: center;">{{tablaFija.CSI_ResultadosVerde}}</td>
                                                        <td style="text-align: center;">{{tablaFija.Presenciales_ResultadosVerde}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="th-colorred">
                                                            <center style="text-align: left;">Resultados en rojo</center>
                                                        </th>
                                                        <td style="text-align: center;">{{tablaFija.Todos_ResultadosRojo}}</td>
                                                        <td style="text-align: center;">{{tablaFija.CSI_ResultadosRojo}}</td>
                                                        <td style="text-align: center;">{{tablaFija.Presenciales_ResultadosRojo}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="th-colorngr">
                                                            <center style="text-align: left;">Resultado Global de la categoria</center>
                                                        </td>
                                                        <td style="text-align: center;">{{tablaFija.Todos_ResultadoGlobalCategoria}} <span>%</span></td>
                                                        <td style="text-align: center;">{{tablaFija.CSI_ResultadoGlobalCategoria}} <span>%</span></td>
                                                        <td style="text-align: center;">{{tablaFija.Presenciales_ResultadoGlobalCategoria}} <span>%</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="minutaActionBar" ng-show="viewMinutaActionBar">
                    <center style="margin-top: 15px;">
                        <!-- <button type="button" class="btn btn-primary" data-ng-click="exportExcel('minutaExportable','Minuta.xls')">Exportar Excel</button>  -->
                        <a type="button" class="btn btn-primary" style="background: #c3002f; border-color: #c3002f;" download="Minuta-AutoCalibracion.xls" onclick="return ExcellentExport.excel(this, 'minutaExportable', 'Minuta');">Exportar Excel</a>
                        <button type="button" class="btn btn-primary" data-ng-click="volver()">Volver</button>
                    </center>
                </div>  
            </div>
        </div>
    </div>
</section>