<section>
    <div class="row" data-ng-controller="library.controller" data-ng-init="init()">
        <div class="col-md-12">
            <div ba-panel="" ba-panel-class="with-scroll">
            <div class="horizontal-scroll">
                <div id="search" data-ng-show="showGrid">
                    <table class="table" st-table="smartTableData" style="margin-bottom: 1%;">
                        <tr>
                            <td class="col-sm-12">
                                <div class="input-group" style="margin-top: 1%;" data-ng-show="uData.TipoUsuario==1 || uData.TipoUsuario==2 || uData.TipoUsuario==3">
                                    <input type="text" class="form-control with-danger-addon" placeholder="{{smartGrid.searcherPlaceHolder}}" data-ng-model="keyWordSearcher">
                                    <span class="input-group-btn" style="text-align: right;">
                                        <button class="btn btn-primary" type="button" data-ng-click="newRecord()" style="margin-left: 4%;">Nuevo</button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="newRecord" data-ng-show="isNewRecord">
                    <div class="widgets">
                        <div class="col-md-12">
                            <div ba-panel-title="{{newRecordTitle}}">
                                <form>
                                    <div class="form-group"><span class="span-green">{{newRecordTitle}}</span></div>
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="inputName">Nombre</label> <input placeholder="Nombre" type="text" data-ng-model="library.nombre" class="form-control" id="inputName" name="inputName">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="inputArchivo">Archivo</label> <input placeholder="Archivo" type="file" file-model="inputArchivo" class="form-control" id="inputArchivo" name="inputArchivo">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="inputCategoria">Categorias</label> <select class="form-control" title="Seleccione" ng-model="library.categorias" ng-options="item as item.Nombre for item in smartGrid.categorias"></select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="col-md-4 col-md-offset-4 btn-g-c">
                                    <button type="button" class="col-md-5 col-xs-12 btn btn-primary" data-ng-click="saveFile()">Guardar</button>
                                    <button type="button" class="col-md-5 col-md-offset-2 col-xs-12 col-xs-offset-0 btn btn-primary" data-ng-click="cancel()">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <loading></loading>
                <table class="table table-widthres" st-table="smartTableData" data-ng-show="showGrid">
                    <tr class="table-title">
                        <td ng-repeat="item in smartGrid.columns" data-ng-bind="item.name"></td>
                    </tr>
                    <tbody>
                        <tr ng-repeat="(id,item) in smartTableData | filter:keyWordSearcher | orderBy:'-IDArchivo'">
                            <!-- <td class="table-id select-td" data-ng-bind="item.IDArchivo"></td> -->
                            <td class="select-td" data-ng-bind="item.Nombre" style="text-align: left !important;"></td>
                            <td class="select-td" data-ng-bind="item.Formato" style="text-align: left !important;"></td>
                            <td class="select-td" data-ng-bind="item.Categoria" style="text-align: left !important;"></td>
                            <td  style="vertical-align: middle !important; text-align: left !important;">
                                <div class="buttons"> 
                                    <!-- <a href="{{item.URL}}" class="btn btn-primary editable-table-button btn-xs" download>Descargar</a> -->
                                   	<div id="download" style="float: left;">
                                       	<a class="btn btn-primary editable-table-button btn-xs" ng-click="downloadRecord(item.URL)" ng-hide="item.Formato == 'mp4'">Descargar</a>
									</div>
									<div id="viewvideo" style="float: left;">
										<a class="btn btn-primary editable-table-button btn-xs" ng-show="item.Formato == 'mp4'" ng-click="openModal(item.URL)" style="width: 67px;">Ver</a>
									</div>
									<div id="delete" data-ng-show="uData.TipoUsuario==1 || uData.TipoUsuario==2 || uData.TipoUsuario==3" style="float: left; margin-left: 10px;">
                                        <a class="btn btn-primary editable-table-button btn-xs" ng-click="openDeleteModal(item.IDArchivo,item.URL)">Eliminar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot></tfoot>
                </table>

                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <iframe ng-src="{{urlModal}}" width="700" height="500"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" type="button"  ng-click="cancelModal()" >Cancel</button>
                    </div>
                </script>
				<script type="text/ng-template" id="myModalDelete.html">
                    <div class="modal-header">
                        <h2 style="color: #000;">¿Estas seguro de eliminar este archivo?</h2>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button"  ng-click="confirmDelete()">Borrar</button>
                        <button class="btn btn-warning" type="button"  ng-click="cancelModal()" >Cancel</button>
                    </div>
                </script>
                <script type="text/javascript">
                    var obj = {
                        IDArchivo : '',
                    }
                    localStorage.setItem("fileUpload", JSON.stringify(obj));
                    console.log(JSON.parse(localStorage.getItem("fileUpload")));
                </script>
            </div>
        </div>
    </div>
    </div>
</section>