<section>
    <div class="row" data-ng-controller="formatosucursales.controller" data-ng-init="init()">
        <div class="col-md-12">
            <div ba-panel="" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div id="search" data-ng-show="showGrid">
                        <table class="table" st-table="smartTableData" style="margin-bottom: 1%;">
                            <tr>
                                <td class="col-sm-12">
                                    <div class="input-group" style="margin-top: 1%;"><input type="text" class="form-control with-danger-addon" placeholder="Buscador de formatos de sucursales" data-ng-model="keyWordSearcher"> <span class="input-group-btn"><button class="btn btn-primary" type="button" ng-hide="autocalibrationMode" data-ng-click="process(1)" style="margin-left: 4%;">Guardar Auto Calibración</button><button class="btn btn-primary" type="button" data-ng-click="process(2)" style="margin-left: 4%;" ng-show="calibrationMode">Guardar Calibración</button></span></div>
                                </td>

<!--                                 <td class="col-sm-12">
                                    <div class="input-group" style="margin-top: 1%;"><input type="text" class="form-control with-danger-addon" placeholder="{{smartGrid.searcherPlaceHolder}}" data-ng-model="keyWordSearcher"> <span class="input-group-btn"><button class="btn btn-primary" type="button" data-ng-click="editRecord()" style="margin-left: 4%;" ng-show="viewMode">Editar</button> <button class="btn btn-primary" type="button" data-ng-click="process()" style="margin-left: 4%;" ng-show="saveMode">Guardar</button> <button class="btn btn-primary" type="button" data-ng-click="cancel()" style="margin-left: 4%;" ng-show="saveMode">Volver</button></span></div>
                                </td> -->
                            </tr>
                        </table>
                    </div>
                    <uib-tabset active="$tabSetStatus.activeTab">
                        <uib-tab heading="Auto Calibración" data-ng-click="autocalibrationRecord()">
                            <table class="table" st-table="smartTableData" data-ng-show="showGrid" style="width: 1620px;">
                                <tr class="table-title">
                                    <td data-ng-bind="smartGridAutoCalibracion.columns[0].displayName" style="width: 20%; height: 35px"></td>
                                    <td ng-repeat="item in getValues(smartGridAutoCalibracion.columns,1)" data-ng-bind="item.displayName" style="width: 6%"></td>
                                </tr>
                                <tbody class="auto-cab-tab">
<!--                                     <tr ng-repeat="(id,item) in smartGridAutoCalibracion.data | filter: keyWordSearcher" style="height: 35px">
                                        <td class="select-td" data-ng-bind="item.values[0].value"></td>
                                        <td class="select-td" ng-repeat="column in getValues(item.values,1)"><input type="checkbox" ng-checked="validateCheckBoxValue(column.value)==1" ng-model="column.value"></td>
                                    </tr> -->
                                    <tr style="background: #c3002f; color: white;" ng-repeat="(id,item) in smartGridAutoCalibracion.data | filter: keyWordSearcher" ng-click="showTR(item.idsucursal, smartGridAutoCalibracion.data,1)" ng-show="item.activeTR" ng-class="{'child': (!item.principal) ,'parent': (item.principal) }"  style="height: 35px">
                                        <td class="select-td" data-ng-bind="item.values[0].value"></td>
                                        <td class="select-td" data-ng-repeat="column in getValues(item.values,2)" ><input type="checkbox" ng-true-value="1" ng-false-value="0"  data-ng-model="column.value" ></td>
                                    </tr>
                                </tbody>
                            </table>
                        </uib-tab>
                        <uib-tab heading="Calibración" data-ng-click="calibrationRecord()">
                            <table class="table table-width" st-table="smartTableData" data-ng-show="showGrid" style="width: 1620px;">
                                <tr class="table-title">
                                    <td data-ng-bind="smartGridCalibracion.columns[0].displayName" style="width: 20%; height: 35px"></td>
                                    <td ng-repeat="item in getValues(smartGridCalibracion.columns,1)" data-ng-bind="item.displayName" style="width: 6%"></td>
                                </tr>
                                <tbody class="cal-tab">
<!--                                     <tr ng-repeat="(id,item) in smartGridCalibracion.data | filter: keyWordSearcher" style="height: 35px">
                                        <td class="select-td" data-ng-bind="item.values[0].value"></td>
                                        <td class="select-td" ng-repeat="column in getValues(item.values,1)"><input type="checkbox" ng-checked="validateCheckBoxValue(column.value)==1" ng-model="column.value"></td>
                                    </tr> -->
                                    <tr ng-repeat="(id,item) in smartGridCalibracion.data | filter: keyWordSearcher" ng-click="showTR(item.idsucursal, smartGridCalibracion.data,2)" ng-hide="item.hideTR" ng-class="{'child': (!item.principal) ,'parent': (item.principal) }"  style="height: 35px">
                                        <td class="select-td" data-ng-bind="item.values[0].value"></td>
                                        <td class="select-td" data-ng-repeat="columns in getValues(item.values,2)" ><input type="checkbox" ng-true-value="1" ng-false-value="0"    data-ng-model="columns.value"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</section>