<section>
    <div class="row" data-ng-controller="ProfilePageCtrl" data-ng-init="init()">
        <div class="col-md-12">
            <div ba-panel="" ba-panel-class="profile-page">
                <div class="panel-content">
                    <!-- <div class="progress-info">Your profile is 70% Complete</div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                    </div> -->
                    
                    <h3 class="with-line">Informacion General</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row clearfix">
                                <label for="inputFirstName" class="col-sm-3 control-label">Foto de perfil</label>
                                <div class="col-sm-9">
                                    <div class="userpic">
                                        <div class="userpic-wrapper"><img ng-src="{{smartTableData[0].FotoPerfilUrl}}" ng-click="uploadPicture()" id="photo"></div><i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i> <a href="" class="change-userpic" ng-click="uploadPicture()">Change Profile Picture</a>
                                        <input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)" accept="image/*" file-model="inputArchivo" onchange="readURL(this);">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row clearfix">
                                <label for="inputFirstName" class="col-sm-3 control-label">Primer Nombre</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputFirstName" placeholder="" ng-model="smartTableData[0].PrimerNombre">
                                </div>
                            </div>
                            <div class="form-group row clearfix">
                                <label for="inputSecondName" class="col-sm-3 control-label">Segundo Nombre</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputSecondName" placeholder="" ng-model="smartTableData[0].SegundoNombre">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row clearfix">
                                <label for="inputFirstLastName" class="col-sm-3 control-label">Primer Apellido</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputFirstLastName" placeholder="" ng-model="smartTableData[0].PrimerApellido">
                                </div>
                            </div>
                            <div class="form-group row clearfix">
                                <label for="inputSecondLastName" class="col-sm-3 control-label">Segundo Apellido</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputSecondLastName" placeholder=""  ng-model="smartTableData[0].SegundoApellido">
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="with-line">Cambiar Contraseña</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row clearfix">
                                <label for="inputCurrentPassword" class="col-sm-3 control-label">Contraseña Actual</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="inputCurrentPassword" data-ng-model="model.currentpassword">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="height: 55px;"></div>
                        <div class="col-md-6">
                            <div class="form-group row clearfix">
                                <label for="inputNewPassword" class="col-sm-3 control-label">Nueva Contraseña</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="inputNewPassword" placeholder="" data-ng-model="model.newpassword">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row clearfix">
                                <label for="inputConfirmPassword" class="col-sm-3 control-label">Confirmar contraseña</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="inputConfirmPassword" placeholder="" data-ng-model="model.confirmpassword">
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="with-line">Información de contacto</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row clearfix">
                                <label for="inputEmail3" class="col-sm-3 control-label">Correo Electronico</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="" ng-model="smartTableData[0].CorreoElectronico">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-with-icon save-profile" data-ng-click="updateProfile()"><i class="ion-android-checkmark-circle"></i>Actualizar Perfil</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#photo')
                        .attr('src', e.target.result)
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</section>

            