<section>
    <style type="text/css">
        \r\n .fuente {
            \r\n font-size: smaller;
            \r\n
        }

        \r\n
    </style>
    <div class="row" data-ng-controller="divisions.controller" data-ng-init="init()">
        <div class="col-md-12">
             <div ba-panel="" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div id="search" data-ng-show="showGrid">
                        <table class="table" st-table="smartTableData" style="margin-bottom: 1%;">
                            <tr>
                                <td class="col-sm-12">
                                    <div class="input-group" style="margin-top: 1%;"><input type="text" class="form-control with-danger-addon" placeholder="{{smartGrid.searcherPlaceHolder}}" data-ng-model="keyWordSearcher"> <span class="input-group-btn"><button class="btn btn-primary" type="button" data-ng-click="newRecord()">Nuevo</button></span></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="newRecord" data-ng-show="isNewRecord">
                        <div class="widgets">
                            <div class="col-md-12">
                                <div ba-panel-title="{{newRecordTitle}}">
                                    <form>
                                        <div class="form-group"><span class="span-green">{{newRecordTitle}}</span></div>
                                        <div class="form-group"><input type="text" class="form-control" placeholder="{{divisionNamePlaceHolder}}" data-ng-model="division.name"></div>
                                        <div class="form-group"><textarea class="form-control" placeholder="{{divisionDescriptionPlaceHolder}}" data-ng-model="division.description"></textarea></div>
                                    </form>
                                    <div class="col-md-4 col-md-offset-4 btn-g-c">
                                        <button type="button" class="col-md-5 col-xs-12 btn btn-primary" data-ng-click="processDivision()">Guardar</button>
                                        <button type="button" class="col-md-5 col-xs-12 col-xs-offset-0 col-md-offset-2 btn btn-primary" data-ng-click="cancel()">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-widthdiv" st-table="smartTableData" data-ng-show="showGrid">
                        <tr class="table-id table-title">
                            <td ng-repeat="item in smartGrid.columns" data-ng-bind="item.name"></td>
                        </tr>
                        <tbody>
                            <tr ng-repeat="(id,item) in smartTableData | filter:keyWordSearcher">
                                <td class="table-id select-td fuente" data-ng-bind="item.ID"></td>
                                <td class="select-td fuente" data-ng-bind="item.Nombre"></td>
                                <td class="select-td fuente" data-ng-bind="item.Descripcion"></td>
                                <td class="th-center select-td fuente" data-ng-bind="item.Formato"></td>
                                <td class="th-center" style="vertical-align: middle !important;">
                                    <div class="buttons"><button class="btn btn-primary editable-table-button btn-xs" ng-click="editRecord(item.ID)">Editar</button></div>
                                </td>
                            </tr>
                            
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>