<section>
    <div class="row" data-ng-controller="controller" data-ng-init="init()">
        <div class="col-md-12">
            <div class="horizontal-scroll">
                <div id="search" data-ng-show="!isNewRecord">
                    <table class="table" st-table="smartTableData" style="margin-bottom: 1%;">
                        <tr>
                            <td><input placeholder="{{smartGrid.searcherPlaceHolder}}" class="input-sm form-control search-input" type="search" data-ng-model="keyWordSearcher" style="width: 100%;margin-top: 2%;margin-left: 0%;"></td>
                            <td style="width: 9%;"><button class="btn btn-primary editable-table-button btn-xs" ng-click="keyWordSearcher=\'\'" style="margin-top: 18%;" data-ng-show="keyWordSearcher.length>0">Limpiar</button></td>
                            <td><button class="btn btn-primary editable-table-button btn-xs" ng-click="newRecord()" style="margin-top: 6%;">Nuevo</button></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div id="newRecord" data-ng-show="isNewRecord">
                    <form editable-form="" name="rowform" class="form-buttons form-inline"><button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">Save</button> <button type="button" ng-disabled="rowform.$waiting" ng-click="cancel()" class="btn btn-default editable-table-button btn-xs">Cancel</button></form>
                </div>
                <table class="table" st-table="smartTableData" data-ng-show="!isNewRecord">
                    <tr>
                        <td ng-repeat="item in smartGrid.columns" data-ng-bind="item.name"></td>
                    </tr>
                    <tbody>
                        <tr ng-repeat="item in smartTableData | filter:{nombre: keyWordSearcher, descripcion: keyWordSearcher}">
                            <td class="table-id select-td" data-ng-bind="item.id"></td>
                            <td class="select-td" data-ng-bind="item.nombre"></td>
                            <td class="select-td" data-ng-bind="item.descripcion"></td>
                            <td class="select-td" data-ng-bind="item.formato"></td>
                            <td>
                                <div class="buttons" ng-show="!rowform.$visible"><button class="btn btn-primary editable-table-button btn-xs" ng-click="newRecord()">Editar</button> <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">Borrar</button></div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td colspan="1">
                                <div class="form-group select-page-size-wrap"><label>Registros por pagina<select class="form-control selectpicker show-tick" title="Seleccione" selectpicker="" ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]"></select></label></div>
                            </td>
                            <td colspan="1" class="text-center">
                                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>