<section>
    <div class="row" data-ng-controller="users.controller" data-ng-init="init()">
        <div class="col-md-12">
            <div ba-panel="" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div id="search" data-ng-show="showGrid">
                        <table class="table" st-table="smartTableData" style="margin-bottom: 1%;">
                            <tr>
                                <td class="col-sm-12">
                                    <div class="input-group" style="margin-top: 1%;"><input type="text" class="form-control with-danger-addon" placeholder="{{smartGrid.searcherPlaceHolder}}" data-ng-model="keyWordSearcher"> <span class="input-group-btn"><button class="btn btn-primary" type="button" data-ng-click="newRecord()" style="margin-left: 4%;">Nuevo</button></span></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="newRecord" data-ng-show="isNewRecord">
                        <div class="widgets">
                            <div class="col-md-12">
                                <div ba-panel-title="{{newRecordTitle}}">
                                    <form>
                                        <div class="form-group"><span class="span-green">{{newRecordTitle}}</span></div>
                                        <div class="row">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Cedula</label> <input type="text" data-ng-model="model.Cedula" class="form-control" id="inputFirstName" placeholder="Cedula"></div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Primer Nombre</label> <input type="text" class="form-control" id="inputEmail" placeholder="Primer Nombre" data-ng-model="model.PrimerNombre"></div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Segundo Nombre</label> <input type="text" class="form-control" id="inputFirstName" placeholder="Segundo Nombre" data-ng-model="model.SegundoNombre"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputLastDate">Fecha de Nacimiento</label><input type="text" class="form-control" id="inputFirstName" placeholder="MM-DD-AAAA" data-ng-model="model.FechaNacimiento"></div>
                                                    <!-- <p class="input-group"><input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="model.FechaNacimiento" id="inputLastDate" is-open="opened1" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" > <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button></span></p> -->
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Primer Apellido</label> <input type="text" class="form-control" id="inputEmail" placeholder="Primer Apellido" data-ng-model="model.PrimerApellido"></div>
                                            </div> 
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Segundo Apellido</label> <input type="text" class="form-control" id="inputFirstName" placeholder="Segundo Apellido" data-ng-model="model.SegundoApellido"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputWebsite">Correo Electronico</label> <input type="email" class="form-control" id="inputWebsite" placeholder="Correo Electronico" data-ng-model="model.CorreoElectronico"></div>
                                            </div> 
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputLastName">Telefono</label> <input type="text" class="form-control" id="inputLastName" placeholder="Telefono" data-ng-model="model.Telefono"></div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Direccion</label> <input type="text" class="form-control" id="inputEmail" placeholder="Direccion" data-ng-model="model.Direccion"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Area</label><select class="form-control" title="Area" ng-model="model.IDArea" ng-options="item.IDArea as item.Nombre for item in smartGrid.areas"></select>
                                                </div>
                                            </div>  
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Tipo Usuario</label><select class="form-control" title="Tipo Usuario" ng-model="model.usu" ng-options="item as item.UserType for item in smartGrid.userTypes"></select></div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Estatus</label><select class="form-control" title="Estatus" ng-model="model.est" ng-options="item as item.UserStatus for item in smartGrid.stats"></select></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="userpic" style="margin: auto;">
                                                    <div class="userpic-wrapper"><img ng-src="{{model.FotoPerfilUrl}}" ng-click="uploadPicture()" id="photo"></div><i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i> <a href="" class="change-userpic" ng-click="uploadPicture()">Change Profile Picture</a>
                                                    <input type="file" ng-show="false" id="uploadFile2" ng-file-select="onFileSelect($files)" accept="image/*" file-model="inputArchivo" onchange="readURL(this);">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Sucursales</label><select multiple class="form-control" title="ID Sucursal" ng-model="model.suc" ng-options="item as item.Nombre for item in smartGrid.sucursales | filter:{ Principal : true }"></select></div>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </form>
                                    <div class="col-md-4 col-md-offset-4 btn-g-c">
                                        <button type="button" class="col-md-5 col-xs-12 btn btn-primary" data-ng-click="processUser()">Guardar</button>
                                        <button type="button" class="col-md-5 col-md-offset-2 col-xs-12 col-xs-offset-0 btn btn-primary" data-ng-click="cancel()">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-widthlg" st-table="smartTableData" data-ng-show="showGrid">
                        <tr class="table-users table-title">
                            <td ng-repeat="item in smartGrid.columns" data-ng-bind="item.name"></td>
                        </tr>
                        <tbody>
                            <tr ng-repeat="(id,item) in smartTableData | filter:keyWordSearcher">
                                <td class="table-id select-td" data-ng-bind="item.Cedula"></td>
                                <td class="select-td" data-ng-bind="item.PrimerNombre"></td>
                                <td class="select-td" data-ng-bind="item.PrimerApellido"></td>
                                <td class="select-td" data-ng-bind="item.CorreoElectronico"></td>
                                <td class="select-td th-center" data-ng-bind="item.NombreUsuario"></td>
                                <td class="select-td th-center" data-ng-bind="item.EstatusUsuario"></td>
                                <td class="select-td th-center" data-ng-bind="item.FTipoUsuario"></td>
                                <td class="select-td th-center" data-ng-bind="item.Sucursal"></td>
                                <td class="th-center">
                                    <div class="buttons">
                                        <button class="btn btn-primary editable-table-button btn-xs" ng-click="editRecord(item.IDUsuario)">Editar</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#photo')
                        .attr('src', e.target.result)
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</section>