<section>
    <div class="row" data-ng-controller="standars.controller" data-ng-init="init()">
        <div class="col-md-12">
            <div ba-panel="" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div id="search" data-ng-show="showGrid">
                        <table class="table" st-table="smartTableData" style="margin-bottom: 1%;">
                            <tr>
                                <td class="col-sm-12">
                                    <div class="input-group" style="margin-top: 1%;"><input type="text" class="form-control with-danger-addon" placeholder="{{smartGrid.searcherPlaceHolder}}" data-ng-model="keyWordSearcher"> <span class="input-group-btn"><button class="btn btn-primary" type="button" data-ng-click="newRecord()" style="margin-left: 4%;">Nuevo</button> <button class="btn btn-primary" type="button" data-ng-click="assignFormat()" style="margin-left: 4%;">Asignacion estandares</button></span></div>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div id="newRecord" data-ng-show="isNewRecord">
                        <div class="widgets">
                            <div class="col-md-12">
                                <div ba-panel-title="{{newRecordTitle}}">
                                    <form>
                                        <div class="form-group"><span class="span-green">{{newRecordTitle}}</span></div>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Estandares Claves</label> <textarea placeholder="Estandares Claves" data-ng-model="model.Nombre" class="form-control" id="textarea01"></textarea></div>
                                            </div>                                        
                                            <div class="col-md-6 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Accion</label> <textarea placeholder="Accion" data-ng-model="model.Accion" class="form-control" id="textarea02"></textarea></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Elementos de Evaluacion</label> <textarea placeholder="Elementos de Evaluacion" data-ng-model="model.Descripcion" class="form-control" id="textarea03"></textarea></div>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="form-group"><label for="inputLastName">Responsables</label><select multiple style="height:100px !important;" class="form-control" title="ID Sucursal" ng-model="model.Responsables" ng-options="item as item.Nombre for item in smartGrid.responsables"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3 col-xs-12">
                                                <!-- <div class="form-group"><label for="inputFirstName">Categoria</label><select class="form-control" title="Seleccione" ng-model="model.Categoria" ng-options="item as item.Nombre for item in smartGrid.categorias"></select> -->
                                                <div class="form-group"><label for="inputFirstName">Division</label><select class="form-control" title="Seleccione" ng-model="model.Division" ng-options="item as item.Nombre for item in smartGrid.divisions"></select></div>
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                            <div class="col-md-6 col-md-offset-3 col-xs-12">
                                                <div class="form-group"><label for="inputLastName">Responsables</label><select class="form-control" title="ID Sucursal" ng-model="model.Responsables" ng-options="item as item.Nombre for item in smartGrid.responsables"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Categoria</label><select class="form-control" title="Seleccione" ng-model="model.IDFormato" ng-options="item as item.Nombre for item in smartGrid.categorias"></select><label for="inputFirstName">Division</label><select class="form-control" title="Seleccione" ng-model="model.IDDivision" ng-options="item as item.Nombre for item in smartGrid.divisions"></select></div>
                                            </div>
                                        </div> -->
                                    </form>
                                    <div class="col-md-4 col-md-offset-4 btn-g-c">
                                        <button type="button" class="col-md-5 col-xs-12 btn btn-primary" data-ng-click="processStandar()">Guardar</button>
                                        <button type="button" class="col-md-5 col-md-offset-2 col-xs-12 col-xs-offset-0 btn btn-primary" data-ng-click="cancel()">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="assignmentView" data-ng-show="showAssignmentView">
                        <style type="text/css">
                            \r\n .contenedorTablas {
                                \r\n text-align: center\r\n
                            }

                            \r\n .left {
                                \r\n float: left;
                                \r\n
                            }

                            \r\n .right {
                                \r\n float: right;
                                \r\n
                            }

                            \r\n .center {
                                \r\n margin: 0 auto;
                                \r\n display: inline-block\r\n
                            }

                            \r\n\r\n table {
                                \r\n border-collapse: separate;
                                \r\n
                            }

                            \r\n
                        </style>
                        <fieldset>
                            <!-- <legend>{{assigmentTitle}}</legend> -->
                            <div class="form-group">
                                <span class="span-green ng-binding">Asignacion de estandares</span>
                            </div>
                            <div class="col-sm-12" style="margin-bottom: 15px;">
                            <div class="col-sm-6">
                                <div class="col-sm-12">
                                    <span>Seleccione una categoria:</span><br>
                                    <select data-ng-model="selectedData.category" data-ng-options="a.Nombre for a in data.formats" data-ng-change="calculatePesoStandar(selectedData.category.IdFormato)"></select>
                                    <span data-ng-show="selectedData.category.IdFormat
                                    o>0" data-ng-if="peso1>100" style="color:white; background: red">Peso: {{peso1}}</span> <span style="padding-left: 30px;" data-ng-show="selectedData.category.IdFormato>0" data-ng-if="peso1<=100">Peso: {{peso1}}</span><br><br>
                                </div>
                                <div class="col-sm-12">
                                    <span>Seleccione una division:</span><br>
                                    <select data-ng-model="selectedData.division" data-ng-options="a.Nombre for a in newdata.divisions " data-ng-change="calculatePesoDivision(selectedData.division.IdDivision,selectedData.division.peso)"></select>
                                    <span style="padding-left: 30px;" data-ng-show="selectedData.division.IdDivision>0">Peso: {{selectedData.division.peso}}</span>
                                </div>
                            </div>
                            <div class="col-sm-6 tab-suc" data-ng-show="selectedData.division.IdDivision>0">
                                <span class="sub-span-blue">ESTANDARES ASIGNADOS</span>
                                <table>
                                    <thead>
                                        <tr style="padding-top: 10px;"">
                                            <th class="col-sm-9" style="height: 40px;">
                                                <center class="sub-span-blue" style="text-align: left;">NOMBRE</center>
                                            </th>
                                            <th class="col-sm-3" style="height: 40px;">
                                                <center class="sub-span-blue">PESO</center>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="item in standarsSelected" style="margin-bottom: 10px;">
                                            <td  class="col-sm-9">
                                                <center data-ng-bind="item.Nombre" class="th-left"></center>
                                            </td>
                                            <td class="col-sm-3">
                                                <center><input class="th-center" type="text" placeholder="{{PesoPlaceHolder}}" required="" data-ng-model="item.peso" data-ng-change="calculatePeso(selectedData.category.IdDivision)"></center>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </fieldset>
                        <div class="col-sm-12 contenedorTablas">
                            <div data-ng-hide="selectedData.division.IdDivision>0">
                                <button type="button" data-ng-click="cancel()" class="col-md-4 col-md-offset-4 btn btn-primary editable-table-button">Volver</button>
                            </div>
                            <div class="col-sm-4 col-sm-offset-4">
                                <button type="button" data-ng-show="selectedData.division.IdDivision>0" data-ng-click="processAsigment()" class="col-md-5 btn btn-primary btn btn-primary editable-table-button" >Guardar</button>
                                <button type="button" data-ng-show="selectedData.division.IdDivision>0" data-ng-click="cancel()" class="col-md-5 col-md-offset-2 btn btn-primary editable-table-button">Volver</button>
                            </div>
                        </div>
                        
                    </div>
                    <table class="table  table-width" st-table="smartTableData" data-ng-show="showGrid">
                        <tr class="table-standars table-title">
                            <td ng-repeat="item in smartGrid.columns" data-ng-bind="item.name"></td>
                        </tr>
                        <tbody>
                            <tr ng-repeat="(id,item) in smartTableData | filter:keyWordSearcher">
                                <td class="table-id select-td" data-ng-bind="item.ID"></td>
                                <td class="select-td" data-ng-bind="item.Nombre"></td>
                                <td class="select-td" data-ng-bind="item.Descripcion"></td>
                                <td class="select-td" data-ng-bind="item.Accion"></td>
                                <td class="select-td" data-ng-bind="item.Division" style="vertical-align: middle !important; text-align: center !important;"></td>
                                <td class="select-td" data-ng-bind="item.Categoria" style="vertical-align: middle !important; text-align: center !important;"></td>
                                <td style="vertical-align: middle !important; text-align: center !important;">
                                    <div class="buttons"><button class="btn btn-primary editable-table-button btn-xs" ng-click="editRecord(item.ID)">Editar</button></div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>