<section>
    <div class="row" data-ng-controller="sucursales.controller" data-ng-init="init()">
        <div class="col-md-12">
            <div ba-panel="" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div id="search" data-ng-show="showGrid">
                        <table class="table" st-table="smartTableData" style="margin-bottom: 1%;">
                            <tr>
                                <td class="col-sm-12">
                                    <div class="input-group" style="margin-top: 1%;"><input type="text" class="form-control with-danger-addon" placeholder="{{smartGrid.searcherPlaceHolder}}" data-ng-model="keyWordSearcher"> <span class="input-group-btn"><button class="btn btn-primary" type="button" data-ng-click="newRecord()" style="margin-left: 4%;">Nuevo</button></span></div>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div id="newRecord" data-ng-show="isNewRecord">
                        <div class="widgets">
                            <div class="col-md-12">
                                <div ba-panel-title="{{newRecordTitle}}">
                                    <form>
                                        <div class="form-group"><span class="span-green">{{newRecordTitle}}</span></div>
                                        <div class="row">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Nombre</label> <input type="text" class="form-control" id="inputFirstName" placeholder="Nombre" data-ng-model="model.Nombre"></div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Tipo Sucursal</label><select class="form-control" title="Seleccione" ng-model="model.tsuc" ng-options="item as item.Nombre for item in smartGrid.sucursales"></select></div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputLinputPhone">Telefono</label> <input type="number" class="form-control" id="inputPhone" placeholder="Telefono" data-ng-model="model.Telefono" onkeydown="javascript: return event.keyCode == 69 ? false : true"></div>
                                            </div> 
                                        </div>
                                        <div class="row">                                        
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Direccion</label> <input type="text" class="form-control" id="inputFirstName" placeholder="Direccion" data-ng-model="model.Direccion"></div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Zona</label>
                                                    <select class="form-control" title="Seleccione" 
                                                    data-ng-model="model.zon" ng-options="item as item.Nombre for item in smartGrid.zonas">
                                                    </select>
                                                    <!-- <select class="form-control" title="Seleccione" ng-model="model.zon">
                                                        <option value="" hidden />  
                                                        <option ng-repeat="item in smartGrid.zonas" ng-selected="$first">{{item.Nombre}}</option>
                                                    </select> -->
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Provincia</label><select class="form-control" title="Seleccione" ng-model="model.IDEstado" ng-options="item.IDEstado as item.Nombre for item in smartGrid.estados" ng-change="selectState()" ></select></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-xs-12"></div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Ciudad</label><select class="form-control" title="Seleccione" ng-model="selectpickerVm.standardSelected" ng-options="item as item.Nombre for item in selectpickerVm.standardSelectItems"></select></div>
                                            </div>                                            
                                        </div>
                                        <div class="row">
                                                <div class="form-group col-md-12 col-xs-12">
                                                    <div class="col-md-1 col-md-offset-5 col-xs-2 col-xs-offset-4">
                                                        <label for="inputFirstName">Habilitado</label>
                                                        <input type="checkbox" id="inlineCheckbox01" value="1" ng-model="model.Estatus" ng-true-value="1" ng-false-value="0">
                                                    </div>
                                                    <div class="col-md-1 col-xs-2">
                                                        <label for="inputFirstName">Principal</label>
                                                        <input type="checkbox" id="inlineCheckbox02" value="1" ng-model="model.Principal" ng-true-value="1" ng-false-value="0">
                                                    </div>
                                                </div>
                                        </div>
                                        <div ng-hide="model.Principal" class="row">
                                            <div class="col-md-4 col-md-offset-4 col-xs-12">
                                                <div class="form-group"><label for="inputFirstName">Sede Principal</label><select class="form-control" title="Seleccione" ng-model="model.SucursalPrincipal" ng-options="item as item.Nombre for item in smartTableData | filter: {Principal:true}"></select></div>
                                            </div>                                           
                                        </div>                                        
                                    </form>
                                    <div class="col-md-4 col-md-offset-4 btn-g-c">
                                    <button type="button" class="col-md-5 col-xs-12 btn btn-primary" data-ng-click="processSucursal()">Guardar</button>
                                    <button type="button" class="col-md-5 col-md-offset-2 col-xs-12 col-xs-offset-0 btn btn-primary" data-ng-click="cancel()">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-widthsuc" st-table="smartTableData" data-ng-show="showGrid">
                        <tr class="table-sucursales table-title">
                            <td ng-repeat="item in smartGrid.columns" data-ng-bind="item.name"></td>
                        </tr>
                        <tbody class="suc-tab">
                            <!-- <tr ng-repeat="(id,item) in smartTableData | filter:keyWordSearcher">
                                <td class="table-id select-td" data-ng-bind="item.IDSucursal"></td>
                                <td class="select-td" data-ng-bind="item.Codigo" style="text-align: center !important;"></td>
                                <td class="select-td" data-ng-bind="item.Nombre"></td>
                                <td class="select-td" data-ng-bind="item.TipoSucursal" style="text-align: center !important;"></td>
                                <td class="select-td" data-ng-bind="item.Zona" style="text-align: center !important;"></td>
                                <td class="select-td" data-ng-bind="item.Ciudad"></td>
                                <td class="select-td" data-ng-bind="item.Estatus" style="text-align: center !important;"></td>
                                <td class="select-td" data-ng-bind="item.Principal" style="text-align: center !important;"></td>
                                <td style="text-align: center !important;">
                                    <div class="buttons"><button class="btn btn-primary editable-table-button btn-xs" ng-click="editRecord(item.IDSucursal)">Editar</button></div>
                                </td>
                            </tr> -->
                            <tr ng-repeat="(id,item) in smartTableData | filter:keyWordSearcher " ng-click="showTR(item.IDSucursal, smartTableData)" ng-show="item.activeTR"  ng-class="{'child': (!item.Principal) ,'parent': (item.Principal) }" >
                                <td class="table-id select-td" data-ng-bind="item.IDSucursal"></td>
                                <td class="select-td" data-ng-bind="item.Nombre"></td>
                                <td class="select-td" data-ng-bind="item.TipoSucursal" style="text-align: center !important;"></td>
                                <td class="select-td" data-ng-bind="item.Zona" style="text-align: center !important;"></td>
                                <td class="select-td" data-ng-bind="item.Ciudad"></td>
                                <td class="select-td" data-ng-bind="item.Estatus" style="text-align: center !important;"></td>
                                <td class="select-td" data-ng-bind="item.Principal" style="text-align: center !important;" hidden></td>
                                <td style="text-align: center !important;">
                                    <div class="buttons"><button class="btn btn-primary editable-table-button btn-xs" ng-click="editRecord(item.IDSucursal)">Editar</button></div>
                                </td>
                                
                            </tr>
                            <!-- <tr ng-repeat-end >
                                <td class="table-id select-td" data-ng-bind="item.IDSucursal"></td>
                                <td class="select-td" data-ng-bind="item.Codigo" style="text-align: center !important;"></td>
                                <td class="select-td" data-ng-bind="item.Nombre"></td>
                                <td class="select-td" data-ng-bind="item.TipoSucursal" style="text-align: center !important;"></td>
                                <td class="select-td" data-ng-bind="item.Zona" style="text-align: center !important;"></td>
                                <td class="select-td" data-ng-bind="item.Ciudad"></td>
                                <td class="select-td" data-ng-bind="item.Estatus" style="text-align: center !important;"></td>
                                <td class="select-td" data-ng-bind="item.Principal" style="text-align: center !important;"></td>
                                <td style="text-align: center !important;">
                                    <div class="buttons"><button class="btn btn-primary editable-table-button btn-xs" ng-click="editRecord(item.IDSucursal)">Editar</button></div>
                                </td>
                            </tr> -->
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>