.socicon,
html {
    position: relative
}

@font-face {
    font-family: socicon;
    src: url(../assets/fonts/socicon.eot);
    src: url(../assets/fonts/socicon.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/socicon.woff) format("woff"), url(../assets/fonts/socicon.woff2) format("woff2"), url(../assets/fonts/socicon.ttf) format("truetype"), url(../assets/fonts/socicon.svg#sociconregular) format("svg");
    font-weight: 400;
    font-style: normal;
    text-transform: initial
}

.socicon {
    font-family: socicon!important;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}

.socicon:empty {
    width: 1em
}

.socicon-twitter {
    background-color: #55acee
}

.socicon-twitter:before {
    content: "a"
}

.socicon-facebook {
    background-color: #3b5998
}

.socicon-facebook:before {
    content: "b"
}

.socicon-google {
    background-color: #dd4b39
}

.socicon-google:before {
    content: "c"
}

.socicon-linkedin {
    background-color: #0177B5
}

.socicon-linkedin:before {
    content: "j"
}

.socicon-github {
    background-color: #6b6b6b
}

.socicon-github:before {
    content: "Q"
}

.socicon-stackoverflow {
    background-color: #2F96E8
}

.socicon-stackoverflow:before {
    content: "("
}

.socicon-dribble {
    background-color: #F26798
}

.socicon-dribble:before {
    content: "D"
}

.socicon-behace {
    background-color: #0093FA
}

.socicon-behace:before {
    content: "H"
}

::-webkit-scrollbar {
    width: .5em;
    height: .5em
}

body.blur-theme::before,
body.mobile.blur-theme .body-bg::before {
    content: '';
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    will-change: transform
}

::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    cursor: pointer
}

::-webkit-scrollbar-track {
    background: 0 0
}

body {
    scrollbar-face-color: #d9d9d9;
    scrollbar-track-color: transparent;
    font: 14px/16px Roboto, sans-serif;
    color: #666;
    background-color: #F0F3F4
}

body,
html {
    min-height: 100%;
    min-width: 320px
}

body.blur-theme::before {
    position: fixed;
    background: url(../assets/img/blur-bg.jpg) center center no-repeat;
    background-size: cover
}

body.mobile {
    background: 0 0
}

body.mobile .body-bg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-attachment: inherit;
    background-color: #F0F3F4
}

body.mobile.blur-theme .body-bg::before {
    position: fixed;
    background: url(../assets/img/blur-bg.jpg) center center no-repeat;
    background-size: cover
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    body,
    html {
        height: 100%
    }
    html {
        overflow: hidden
    }
    body {
        overflow: auto
    }
}

a {
    transition: color .5s ease;
    outline: 0!important
}

.body-bg {
    display: none
}

.al-header {
    display: block;
    height: 49px;
    margin: 0;
    background-repeat: repeat-x;
    position: relative;
    z-index: 905;
    color: #444
}

.al-main {
    margin-left: 180px;
    padding: 66px 0 34px;
    min-height: 500px
}

.al-footer {
    height: 34px;
    padding: 0 18px 0 180px;
    width: 100%;
    position: absolute;
    display: block;
    bottom: 0;
    font-size: 13px;
    color: #666;
    transition: padding-left .5s ease
}

.al-share li i,
.btn {
    transition: all .1s ease
}

.al-footer-main {
    float: left;
    margin-left: 15px
}

.al-copy {
    float: left
}

.al-footer-right {
    float: right;
    margin-right: 12px
}

.al-share,
.al-share li {
    list-style: none;
    float: left
}

.al-footer-right i {
    margin: 0 4px;
    color: #e85656;
    font-size: 12px
}

.al-footer-right a {
    margin-left: 4px;
    color: #666
}

.al-footer-right a:hover {
    color: #e85656
}

.al-share {
    margin: -6px 0 0 12px;
    padding: 0
}

.al-share li {
    margin-left: 16px
}

.al-share li i {
    cursor: pointer;
    color: #fff;
    padding: 6px;
    box-sizing: content-box;
    font-size: 16px
}

.al-share li i:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.al-share li i.fa-facebook-square {
    color: #3b5998
}

.al-share li i.fa-twitter-square {
    color: #55acee
}

.al-share li i.fa-google-plus-square {
    color: #dd4b39
}

.al-content {
    padding: 8px 32px 8px 40px
}

@media screen and (max-width:500px) {
    .al-content {
        padding: 8px 20px
    }
}

.vis-hidden {
    visibility: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px
}

.icon-down,
.icon-up {
    width: 5px;
    height: 13px;
    display: block
}

.icon-up {
    background: url(../assets/img/arrow-green-up.svg) no-repeat
}

.icon-down {
    background: url(../assets/img/arrow-red-down.svg) no-repeat
}

.disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.align-right {
    text-align: right
}

.amcharts-chart-div>a {
    font-size: 6px!important
}

.content-panel {
    padding-left: 22px;
    padding-top: 26px
}

@media (max-width:590px) {
    .al-footer-right {
        float: none;
        margin-bottom: 19px;
        margin-right: 0
    }
    .al-footer {
        height: 76px;
        text-align: center
    }
    .al-main {
        padding-bottom: 76px
    }
    .al-footer-main {
        float: none;
        display: inline-block
    }
}

.full-invisible,
.full-invisible * {
    visibility: hidden!important
}

.irs-grid-text {
    color: #666
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0
}

.btn {
    border-radius: 5px
}

button.progress-button.btn.btn-danger,
button.progress-button.btn.btn-default,
button.progress-button.btn.btn-info,
button.progress-button.btn.btn-primary,
button.progress-button.btn.btn-success,
button.progress-button.btn.btn-warning {
    border-radius: 0
}

.btn:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.open>.btn.dropdown-toggle.btn.btn-primary {
    background: #1b867b;
    border-color: #1b867b
}

.open>.btn.dropdown-toggle.btn-success {
    background: #7a9d00;
    border-color: #7a9d00
}

.open>.btn.dropdown-toggle.btn-info {
    background: #2692b2;
    border-color: #2692b2
}

.open>.btn.dropdown-toggle.btn-warning {
    background: #be9c18;
    border-color: #be9c18
}

.open>.btn.dropdown-toggle.btn-danger {
    background: #c54949;
    border-color: #c54949
}

button.btn.btn-primary {
    background: #209e91;
    border-color: #209e91
}

button.btn.btn-primary.disabled,
button.btn.btn-primary.disabled.active,
button.btn.btn-primary.disabled.focus,
button.btn.btn-primary.disabled:active,
button.btn.btn-primary.disabled:focus,
button.btn.btn-primary.disabled:hover,
button.btn.btn-primary[disabled],
button.btn.btn-primary[disabled].active,
button.btn.btn-primary[disabled].focus,
button.btn.btn-primary[disabled]:active,
button.btn.btn-primary[disabled]:focus,
button.btn.btn-primary[disabled]:hover,
fieldset[disabled] button.btn.btn-primary,
fieldset[disabled] button.btn.btn-primary.active,
fieldset[disabled] button.btn.btn-primary.focus,
fieldset[disabled] button.btn.btn-primary:active,
fieldset[disabled] button.btn.btn-primary:focus,
fieldset[disabled] button.btn.btn-primary:hover {
    background: #209e91;
    border-color: #2caa9d
}

button.btn.btn-primary.disabled.active:hover,
button.btn.btn-primary.disabled.focus:hover,
button.btn.btn-primary.disabled:active:hover,
button.btn.btn-primary.disabled:focus:hover,
button.btn.btn-primary.disabled:hover,
button.btn.btn-primary.disabled:hover:hover,
button.btn.btn-primary[disabled].active:hover,
button.btn.btn-primary[disabled].focus:hover,
button.btn.btn-primary[disabled]:active:hover,
button.btn.btn-primary[disabled]:focus:hover,
button.btn.btn-primary[disabled]:hover,
button.btn.btn-primary[disabled]:hover:hover,
fieldset[disabled] button.btn.btn-primary.active:hover,
fieldset[disabled] button.btn.btn-primary.focus:hover,
fieldset[disabled] button.btn.btn-primary:active:hover,
fieldset[disabled] button.btn.btn-primary:focus:hover,
fieldset[disabled] button.btn.btn-primary:hover,
fieldset[disabled] button.btn.btn-primary:hover:hover {
    -webkit-transform: none;
    transform: none
}

button.btn.btn-primary.active,
button.btn.btn-primary.focus,
button.btn.btn-primary:active,
button.btn.btn-primary:focus,
button.btn.btn-primary:hover {
    background: #209e91;
    border-color: #088679
}

button.btn.btn-primary:active,
button.btn.btn-primary:target {
    background-color: #1b867b
}

button.btn.btn-default {
    border-width: 1px;
    color: #FFFFFF;
    background-color: #535456;
    border-color: #FFFFFF;
}

button.btn.btn-default.disabled,
button.btn.btn-default.disabled.active,
button.btn.btn-default.disabled.focus,
button.btn.btn-default.disabled:active,
button.btn.btn-default.disabled:focus,
button.btn.btn-default.disabled:hover,
button.btn.btn-default[disabled],
button.btn.btn-default[disabled].active,
button.btn.btn-default[disabled].focus,
button.btn.btn-default[disabled]:active,
button.btn.btn-default[disabled]:focus,
button.btn.btn-default[disabled]:hover,
fieldset[disabled] button.btn.btn-default,
fieldset[disabled] button.btn.btn-default.active,
fieldset[disabled] button.btn.btn-default.focus,
fieldset[disabled] button.btn.btn-default:active,
fieldset[disabled] button.btn.btn-default:focus,
fieldset[disabled] button.btn.btn-default:hover {
    background: 0 0;
    border-color: #e2e2e2
}

button.btn.btn-default.disabled.active:hover,
button.btn.btn-default.disabled.focus:hover,
button.btn.btn-default.disabled:active:hover,
button.btn.btn-default.disabled:focus:hover,
button.btn.btn-default.disabled:hover,
button.btn.btn-default.disabled:hover:hover,
button.btn.btn-default[disabled].active:hover,
button.btn.btn-default[disabled].focus:hover,
button.btn.btn-default[disabled]:active:hover,
button.btn.btn-default[disabled]:focus:hover,
button.btn.btn-default[disabled]:hover,
button.btn.btn-default[disabled]:hover:hover,
fieldset[disabled] button.btn.btn-default.active:hover,
fieldset[disabled] button.btn.btn-default.focus:hover,
fieldset[disabled] button.btn.btn-default:active:hover,
fieldset[disabled] button.btn.btn-default:focus:hover,
fieldset[disabled] button.btn.btn-default:hover,
fieldset[disabled] button.btn.btn-default:hover:hover {
    -webkit-transform: none;
    transform: none
}

button.btn.btn-default.active,
button.btn.btn-default.focus,
button.btn.btn-default:active,
button.btn.btn-default:focus,
button.btn.btn-default:hover {
    background: 0 0;
    border-color: #bebebe
}

button.btn.btn-default:active,
button.btn.btn-default:target {
    background-color: rgba(0, 0, 0, .2);
    color: #666
}

button.btn.btn-success {
    background: #90b900;
    border-color: #90b900
}

button.btn.btn-success.disabled,
button.btn.btn-success.disabled.active,
button.btn.btn-success.disabled.focus,
button.btn.btn-success.disabled:active,
button.btn.btn-success.disabled:focus,
button.btn.btn-success.disabled:hover,
button.btn.btn-success[disabled],
button.btn.btn-success[disabled].active,
button.btn.btn-success[disabled].focus,
button.btn.btn-success[disabled]:active,
button.btn.btn-success[disabled]:focus,
button.btn.btn-success[disabled]:hover,
fieldset[disabled] button.btn.btn-success,
fieldset[disabled] button.btn.btn-success.active,
fieldset[disabled] button.btn.btn-success.focus,
fieldset[disabled] button.btn.btn-success:active,
fieldset[disabled] button.btn.btn-success:focus,
fieldset[disabled] button.btn.btn-success:hover {
    background: #90b900;
    border-color: #9cc50c
}

button.btn.btn-success.disabled.active:hover,
button.btn.btn-success.disabled.focus:hover,
button.btn.btn-success.disabled:active:hover,
button.btn.btn-success.disabled:focus:hover,
button.btn.btn-success.disabled:hover,
button.btn.btn-success.disabled:hover:hover,
button.btn.btn-success[disabled].active:hover,
button.btn.btn-success[disabled].focus:hover,
button.btn.btn-success[disabled]:active:hover,
button.btn.btn-success[disabled]:focus:hover,
button.btn.btn-success[disabled]:hover,
button.btn.btn-success[disabled]:hover:hover,
fieldset[disabled] button.btn.btn-success.active:hover,
fieldset[disabled] button.btn.btn-success.focus:hover,
fieldset[disabled] button.btn.btn-success:active:hover,
fieldset[disabled] button.btn.btn-success:focus:hover,
fieldset[disabled] button.btn.btn-success:hover,
fieldset[disabled] button.btn.btn-success:hover:hover {
    -webkit-transform: none;
    transform: none
}

button.btn.btn-success.active,
button.btn.btn-success.focus,
button.btn.btn-success:active,
button.btn.btn-success:focus,
button.btn.btn-success:hover {
    background: #90b900;
    border-color: #78a100
}

button.btn.btn-success:active,
button.btn.btn-success:target {
    background-color: #7a9d00
}

button.btn.btn-info {
    background: #2dacd1;
    border-color: #2dacd1
}

button.btn.btn-info.disabled,
button.btn.btn-info.disabled.active,
button.btn.btn-info.disabled.focus,
button.btn.btn-info.disabled:active,
button.btn.btn-info.disabled:focus,
button.btn.btn-info.disabled:hover,
button.btn.btn-info[disabled],
button.btn.btn-info[disabled].active,
button.btn.btn-info[disabled].focus,
button.btn.btn-info[disabled]:active,
button.btn.btn-info[disabled]:focus,
button.btn.btn-info[disabled]:hover,
fieldset[disabled] button.btn.btn-info,
fieldset[disabled] button.btn.btn-info.active,
fieldset[disabled] button.btn.btn-info.focus,
fieldset[disabled] button.btn.btn-info:active,
fieldset[disabled] button.btn.btn-info:focus,
fieldset[disabled] button.btn.btn-info:hover {
    background: #2dacd1;
    border-color: #39b8dd
}

button.btn.btn-info.disabled.active:hover,
button.btn.btn-info.disabled.focus:hover,
button.btn.btn-info.disabled:active:hover,
button.btn.btn-info.disabled:focus:hover,
button.btn.btn-info.disabled:hover,
button.btn.btn-info.disabled:hover:hover,
button.btn.btn-info[disabled].active:hover,
button.btn.btn-info[disabled].focus:hover,
button.btn.btn-info[disabled]:active:hover,
button.btn.btn-info[disabled]:focus:hover,
button.btn.btn-info[disabled]:hover,
button.btn.btn-info[disabled]:hover:hover,
fieldset[disabled] button.btn.btn-info.active:hover,
fieldset[disabled] button.btn.btn-info.focus:hover,
fieldset[disabled] button.btn.btn-info:active:hover,
fieldset[disabled] button.btn.btn-info:focus:hover,
fieldset[disabled] button.btn.btn-info:hover,
fieldset[disabled] button.btn.btn-info:hover:hover {
    -webkit-transform: none;
    transform: none
}

button.btn.btn-info.active,
button.btn.btn-info.focus,
button.btn.btn-info:active,
button.btn.btn-info:focus,
button.btn.btn-info:hover {
    background: #2dacd1;
    border-color: #1594b9
}

button.btn.btn-info:active,
button.btn.btn-info:target {
    background-color: #2692b2
}

button.btn.btn-warning {
    background: #dfb81c;
    border-color: #dfb81c
}

button.btn.btn-warning.disabled,
button.btn.btn-warning.disabled.active,
button.btn.btn-warning.disabled.focus,
button.btn.btn-warning.disabled:active,
button.btn.btn-warning.disabled:focus,
button.btn.btn-warning.disabled:hover,
button.btn.btn-warning[disabled],
button.btn.btn-warning[disabled].active,
button.btn.btn-warning[disabled].focus,
button.btn.btn-warning[disabled]:active,
button.btn.btn-warning[disabled]:focus,
button.btn.btn-warning[disabled]:hover,
fieldset[disabled] button.btn.btn-warning,
fieldset[disabled] button.btn.btn-warning.active,
fieldset[disabled] button.btn.btn-warning.focus,
fieldset[disabled] button.btn.btn-warning:active,
fieldset[disabled] button.btn.btn-warning:focus,
fieldset[disabled] button.btn.btn-warning:hover {
    background: #dfb81c;
    border-color: #ebc428
}

button.btn.btn-warning.disabled.active:hover,
button.btn.btn-warning.disabled.focus:hover,
button.btn.btn-warning.disabled:active:hover,
button.btn.btn-warning.disabled:focus:hover,
button.btn.btn-warning.disabled:hover,
button.btn.btn-warning.disabled:hover:hover,
button.btn.btn-warning[disabled].active:hover,
button.btn.btn-warning[disabled].focus:hover,
button.btn.btn-warning[disabled]:active:hover,
button.btn.btn-warning[disabled]:focus:hover,
button.btn.btn-warning[disabled]:hover,
button.btn.btn-warning[disabled]:hover:hover,
fieldset[disabled] button.btn.btn-warning.active:hover,
fieldset[disabled] button.btn.btn-warning.focus:hover,
fieldset[disabled] button.btn.btn-warning:active:hover,
fieldset[disabled] button.btn.btn-warning:focus:hover,
fieldset[disabled] button.btn.btn-warning:hover,
fieldset[disabled] button.btn.btn-warning:hover:hover {
    -webkit-transform: none;
    transform: none
}

button.btn.btn-warning.active,
button.btn.btn-warning.focus,
button.btn.btn-warning:active,
button.btn.btn-warning:focus,
button.btn.btn-warning:hover {
    background: #dfb81c;
    border-color: #c7a004
}

button.btn.btn-warning:active,
button.btn.btn-warning:target {
    background-color: #be9c18
}

button.btn.btn-danger {
    background: #e85656;
    border-color: #e85656
}

button.btn.btn-danger.disabled,
button.btn.btn-danger.disabled.active,
button.btn.btn-danger.disabled.focus,
button.btn.btn-danger.disabled:active,
button.btn.btn-danger.disabled:focus,
button.btn.btn-danger.disabled:hover,
button.btn.btn-danger[disabled],
button.btn.btn-danger[disabled].active,
button.btn.btn-danger[disabled].focus,
button.btn.btn-danger[disabled]:active,
button.btn.btn-danger[disabled]:focus,
button.btn.btn-danger[disabled]:hover,
fieldset[disabled] button.btn.btn-danger,
fieldset[disabled] button.btn.btn-danger.active,
fieldset[disabled] button.btn.btn-danger.focus,
fieldset[disabled] button.btn.btn-danger:active,
fieldset[disabled] button.btn.btn-danger:focus,
fieldset[disabled] button.btn.btn-danger:hover {
    background: #e85656;
    border-color: #f46262
}

button.btn.btn-danger.disabled.active:hover,
button.btn.btn-danger.disabled.focus:hover,
button.btn.btn-danger.disabled:active:hover,
button.btn.btn-danger.disabled:focus:hover,
button.btn.btn-danger.disabled:hover,
button.btn.btn-danger.disabled:hover:hover,
button.btn.btn-danger[disabled].active:hover,
button.btn.btn-danger[disabled].focus:hover,
button.btn.btn-danger[disabled]:active:hover,
button.btn.btn-danger[disabled]:focus:hover,
button.btn.btn-danger[disabled]:hover,
button.btn.btn-danger[disabled]:hover:hover,
fieldset[disabled] button.btn.btn-danger.active:hover,
fieldset[disabled] button.btn.btn-danger.focus:hover,
fieldset[disabled] button.btn.btn-danger:active:hover,
fieldset[disabled] button.btn.btn-danger:focus:hover,
fieldset[disabled] button.btn.btn-danger:hover,
fieldset[disabled] button.btn.btn-danger:hover:hover {
    -webkit-transform: none;
    transform: none
}

button.btn.btn-danger.active,
button.btn.btn-danger.focus,
button.btn.btn-danger:active,
button.btn.btn-danger:focus,
button.btn.btn-danger:hover {
    background: #e85656;
    border-color: #d03e3e
}

button.btn.btn-danger:active,
button.btn.btn-danger:target {
    background-color: #c54949
}

button.btn.btn-inverse {
    background: #949494;
    border-color: #949494;
    color: #fff
}

button.btn.btn-inverse.disabled,
button.btn.btn-inverse.disabled.active,
button.btn.btn-inverse.disabled.focus,
button.btn.btn-inverse.disabled:active,
button.btn.btn-inverse.disabled:focus,
button.btn.btn-inverse.disabled:hover,
button.btn.btn-inverse[disabled],
button.btn.btn-inverse[disabled].active,
button.btn.btn-inverse[disabled].focus,
button.btn.btn-inverse[disabled]:active,
button.btn.btn-inverse[disabled]:focus,
button.btn.btn-inverse[disabled]:hover,
fieldset[disabled] button.btn.btn-inverse,
fieldset[disabled] button.btn.btn-inverse.active,
fieldset[disabled] button.btn.btn-inverse.focus,
fieldset[disabled] button.btn.btn-inverse:active,
fieldset[disabled] button.btn.btn-inverse:focus,
fieldset[disabled] button.btn.btn-inverse:hover {
    background: #949494;
    border-color: #a0a0a0
}

button.btn.btn-inverse.disabled.active:hover,
button.btn.btn-inverse.disabled.focus:hover,
button.btn.btn-inverse.disabled:active:hover,
button.btn.btn-inverse.disabled:focus:hover,
button.btn.btn-inverse.disabled:hover,
button.btn.btn-inverse.disabled:hover:hover,
button.btn.btn-inverse[disabled].active:hover,
button.btn.btn-inverse[disabled].focus:hover,
button.btn.btn-inverse[disabled]:active:hover,
button.btn.btn-inverse[disabled]:focus:hover,
button.btn.btn-inverse[disabled]:hover,
button.btn.btn-inverse[disabled]:hover:hover,
fieldset[disabled] button.btn.btn-inverse.active:hover,
fieldset[disabled] button.btn.btn-inverse.focus:hover,
fieldset[disabled] button.btn.btn-inverse:active:hover,
fieldset[disabled] button.btn.btn-inverse:focus:hover,
fieldset[disabled] button.btn.btn-inverse:hover,
fieldset[disabled] button.btn.btn-inverse:hover:hover {
    -webkit-transform: none;
    transform: none
}

button.btn.btn-inverse.active,
button.btn.btn-inverse.focus,
button.btn.btn-inverse:active,
button.btn.btn-inverse:focus,
button.btn.btn-inverse:hover {
    background: #949494;
    border-color: #7c7c7c
}

button.btn.btn-inverse:active,
button.btn.btn-inverse:hover,
button.btn.btn-inverse:target {
    background-color: #949494;
    color: #fff
}

.btn-with-icon i {
    margin-right: 10px
}

.btn-group :hover,
.btn-toolbar :hover {
    -webkit-transform: none;
    transform: none
}

.btn-group button.btn.btn-primary {
    border-color: #149285
}

.btn-group button.btn.btn-primary:hover {
    border-color: #088679
}

.btn-group button.btn.btn-danger {
    border-color: #dc4a4a
}

.btn-group button.btn.btn-danger:hover {
    border-color: #d03e3e
}

.btn-group button.btn.btn-info {
    border-color: #21a0c5
}

.btn-group button.btn.btn-info:hover {
    border-color: #1594b9
}

.btn-group button.btn.btn-success {
    border-color: #84ad00
}

.btn-group button.btn.btn-success:hover {
    border-color: #78a100
}

.btn-group button.btn.btn-warning {
    border-color: #d3ac10
}

.btn-group button.btn.btn-warning:hover {
    border-color: #c7a004
}

.btn-group .dropdown-menu {
    margin-top: 0
}

.btn-toolbar {
    display: inline-block
}

.btn .caret {
    margin-left: 2px
}

button.progress-button .progress {
    margin-bottom: 0;
    border-radius: 0
}

button.progress-button:hover {
    -webkit-transform: none;
    transform: none
}

button.progress-button.progress-button-style-shrink.btn.disabled.progress-button-dir-horizontal:hover {
    -webkit-transform: scaleY(.3);
    transform: scaleY(.3)
}

button.progress-button.progress-button-style-shrink.btn.disabled.progress-button-dir-vertical:hover {
    -webkit-transform: scaleX(.1);
    transform: scaleX(.1)
}

button.progress-button.btn.btn-primary .content:after,
button.progress-button.btn.btn-primary .content:before {
    color: #000
}

button.progress-button.btn.btn-primary.progress-button-style-move-up .content,
button.progress-button.btn.btn-primary.progress-button-style-slide-down .content {
    background-color: #17746a
}

button.progress-button.btn.btn-primary.progress-button-style-lateral-lines .progress-inner {
    border-color: #17746a;
    background: 0 0
}

button.progress-button.btn.btn-primary .progress {
    background-color: #17746a;
    box-shadow: 0 1px 0 #17746a
}

button.progress-button.btn.btn-primary .progress-inner {
    background-color: #0f4943
}

button.progress-button.btn.btn-primary.progress-button-perspective {
    background: 0 0
}

button.progress-button.btn.btn-primary.progress-button-perspective .content {
    background-color: #209e91
}

button.progress-button.btn.btn-default .content:after,
button.progress-button.btn.btn-default .content:before {
    color: #999
}

button.progress-button.btn.btn-default.progress-button-style-move-up .content,
button.progress-button.btn.btn-default.progress-button-style-slide-down .content {
    background-color: #e6e6e6
}

button.progress-button.btn.btn-default.progress-button-style-lateral-lines .progress-inner {
    border-color: #e6e6e6;
    background: 0 0
}

button.progress-button.btn.btn-default .progress {
    background-color: #e6e6e6;
    box-shadow: 0 1px 0 #e6e6e6
}

button.progress-button.btn.btn-default .progress-inner {
    background-color: #ccc
}

button.progress-button.btn.btn-default.progress-button-perspective {
    background: 0 0
}

button.progress-button.btn.btn-default.progress-button-perspective .content {
    background-color: #fff
}

button.progress-button.btn.btn-success .content:after,
button.progress-button.btn.btn-success .content:before {
    color: #000
}

button.progress-button.btn.btn-success.progress-button-style-move-up .content,
button.progress-button.btn.btn-success.progress-button-style-slide-down .content {
    background-color: #688600
}

button.progress-button.btn.btn-success.progress-button-style-lateral-lines .progress-inner {
    border-color: #688600;
    background: 0 0
}

button.progress-button.btn.btn-success .progress {
    background-color: #688600;
    box-shadow: 0 1px 0 #688600
}

button.progress-button.btn.btn-success .progress-inner {
    background-color: #415300
}

button.progress-button.btn.btn-success.progress-button-perspective {
    background: 0 0
}

button.progress-button.btn.btn-success.progress-button-perspective .content {
    background-color: #90b900
}

button.progress-button.btn.btn-info .content:after,
button.progress-button.btn.btn-info .content:before {
    color: #092229
}

button.progress-button.btn.btn-info.progress-button-style-move-up .content,
button.progress-button.btn.btn-info.progress-button-style-slide-down .content {
    background-color: #2489a7
}

button.progress-button.btn.btn-info.progress-button-style-lateral-lines .progress-inner {
    border-color: #2489a7;
    background: 0 0
}

button.progress-button.btn.btn-info .progress {
    background-color: #2489a7;
    box-shadow: 0 1px 0 #2489a7
}

button.progress-button.btn.btn-info .progress-inner {
    background-color: #1b677d
}

button.progress-button.btn.btn-info.progress-button-perspective {
    background: 0 0
}

button.progress-button.btn.btn-info.progress-button-perspective .content {
    background-color: #2dacd1
}

button.progress-button.btn.btn-warning .content:after,
button.progress-button.btn.btn-warning .content:before {
    color: #2a2205
}

button.progress-button.btn.btn-warning.progress-button-style-move-up .content,
button.progress-button.btn.btn-warning.progress-button-style-slide-down .content {
    background-color: #b29316
}

button.progress-button.btn.btn-warning.progress-button-style-lateral-lines .progress-inner {
    border-color: #b29316;
    background: 0 0
}

button.progress-button.btn.btn-warning .progress {
    background-color: #b29316;
    box-shadow: 0 1px 0 #b29316
}

button.progress-button.btn.btn-warning .progress-inner {
    background-color: #846d11
}

button.progress-button.btn.btn-warning.progress-button-perspective {
    background: 0 0
}

button.progress-button.btn.btn-warning.progress-button-perspective .content {
    background-color: #dfb81c
}

button.progress-button.btn.btn-danger .content:after,
button.progress-button.btn.btn-danger .content:before {
    color: #640e0e
}

button.progress-button.btn.btn-danger.progress-button-style-move-up .content,
button.progress-button.btn.btn-danger.progress-button-style-slide-down .content {
    background-color: #e22929
}

button.progress-button.btn.btn-danger.progress-button-style-lateral-lines .progress-inner {
    border-color: #e22929;
    background: 0 0
}

button.progress-button.btn.btn-danger .progress {
    background-color: #e22929;
    box-shadow: 0 1px 0 #e22929
}

button.progress-button.btn.btn-danger .progress-inner {
    background-color: #be1a1a
}

button.progress-button.btn.btn-danger.progress-button-perspective {
    background: 0 0
}

button.progress-button.btn.btn-danger.progress-button-perspective .content {
    background-color: #e85656
}

.btn-raised {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .35)
}

.btn-mm {
    padding: 5px 11px;
    font-size: 13px
}

.btn-xm {
    padding: 8px 14px;
    font-size: 16px
}

.dropdown button.btn.btn-default.dropdown-toggle {
    color: #666;
    border: 1px solid #d6d6d6;
    background-color: transparent
}

.dropdown button.btn.btn-default.dropdown-toggle:active,
.dropdown button.btn.btn-default.dropdown-toggle:focus {
    background-color: #fff
}

.bootstrap-select .dropdown-toggle:focus {
    outline: 0!important
}

.bootstrap-switch .bootstrap-switch-container:focus,
.bootstrap-switch:focus {
    outline: 0
}

.bootstrap-select button.btn-default:focus {
    color: #fff
}

.bootstrap-select .btn {
    transition: none
}

.label {
    border-radius: 0
}

.label-primary {
    background: #209e91
}

.label-info {
    background: #63bbb2
}

.label-success {
    background: #90b900
}

.label-warning {
    background: #dfb81c
}

.label-danger {
    background: #e85656
}

.form-horizontal label {
    line-height: 34px;
    margin-bottom: 0;
    padding-top: 0!important
}

.form-group label {
    margin-bottom: 5px;
    color: #666;
    font-weight: 400;
    font-size: 13px
}

.form-control {
    border: 1px solid #cbcbcb;
    background-color: #fff;
    box-shadow: none
}

.form-control::-webkit-input-placeholder {
    color: #666;
    opacity: .7
}

.form-control:-moz-placeholder {
    color: #666;
    opacity: .7
}

.form-control::-moz-placeholder {
    color: #666;
    opacity: .7
}

.form-control:-ms-input-placeholder {
    color: #666;
    opacity: .7
}

.form-control:focus {
    box-shadow: none;
    border-color: #4db1a7;
    background: #fff
}

select.form-control {
    padding-left: 8px
}

textarea.form-control {
    height: 96px
}

.form-inline .form-group input {
    width: 100%
}

.form-inline .form-group label {
    margin-right: 12px
}

.form-inline button[type=submit] {
    margin-left: 12px
}

.form-inline label.custom-checkbox>span,
.form-inline label.custom-radio>span {
    display: block;
    margin-top: -13px;
    margin-right: 10px
}

.switcher-container {
    margin-right: 10px;
    font-weight: 400
}

.switcher-container input {
    display: none
}

.switcher-container .switcher {
    position: relative;
    display: inline-block;
    width: 84px;
    overflow: hidden;
    border-radius: 6px;
    box-sizing: border-box;
    -webkit-transform: translateZ(0)
}

.switcher-container .switcher.primary {
    border: 1px solid #209e91
}

.switcher-container .switcher.primary .handle.handle-on {
    background-color: #209e91
}

.switcher-container .switcher.success {
    border: 1px solid #90b900
}

.switcher-container .switcher.success .handle.handle-on {
    background-color: #90b900
}

.switcher-container .switcher.warning {
    border: 1px solid #dfb81c
}

.switcher-container .switcher.warning .handle.handle-on {
    background-color: #dfb81c
}

.switcher-container .switcher.danger {
    border: 1px solid #e85656
}

.switcher-container .switcher.danger .handle.handle-on {
    background-color: #e85656
}

.switcher-container .switcher.info {
    border: 1px solid #63bbb2
}

.switcher-container .switcher.info .handle.handle-on {
    background-color: #63bbb2
}

.switcher-container .switcher input {
    display: none
}

.switcher-container .switcher .handle-container {
    position: relative;
    width: 126px;
    cursor: pointer;
    -webkit-transform: translate3d(-42px, 0, 0);
    transform: translate3d(-42px, 0, 0);
    transition: -webkit-transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear
}

.switcher-container .switcher .handle-container .handle {
    width: 42px;
    float: left;
    line-height: 28px;
    height: 28px;
    font-size: 12px;
    text-align: center;
    color: #fff
}

.switcher-container .switcher .handle-container .handle.handle-off {
    background: #535456;
    color: #FFFFFF;
}

.switcher-container input:checked+.switcher {
    border: 1px solid #d6d6d6
}

.switcher-container input:checked+.switcher .handle-container {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.switch-container {
    display: inline-block
}

.switch-container.primary .bootstrap-switch.bootstrap-switch-on {
    border-color: #209e91
}

.switch-container.success .bootstrap-switch.bootstrap-switch-on {
    border-color: #90b900
}

.switch-container.warning .bootstrap-switch.bootstrap-switch-on {
    border-color: #dfb81c
}

.switch-container.danger .bootstrap-switch.bootstrap-switch-on {
    border-color: #e85656
}

.switch-container.info .bootstrap-switch.bootstrap-switch-on {
    border-color: #63bbb2
}

.bootstrap-switch {
    border-radius: 5px;
    border: 1px solid #fff;
    transition: border-color ease-in-out .7s, box-shadow ease-in-out .7s
}

.bootstrap-switch.bootstrap-switch-focused.bootstrap-switch-off,
.bootstrap-switch.bootstrap-switch-off {
    border-color: #d6d6d6
}

.bootstrap-switch .bootstrap-switch-container,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-handle-on,
.input-group>span {
    border-radius: 0
}

.bootstrap-switch.bootstrap-switch-focused {
    box-shadow: none
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default {
    background: #fff
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
    background: #90b900
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: #209e91
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning {
    background: #dfb81c
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger {
    background: #e85656
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info {
    background: #63bbb2
}

.bootstrap-switch .bootstrap-switch-label {
    background: 0 0
}

.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
    transition: margin-left .2s
}

.switches {
    margin-left: -12px;
    margin-bottom: -12px
}

.switches .switch-container {
    float: left;
    margin-left: 12px;
    margin-bottom: 12px
}

.input-group {
    width: 100%;
    margin-bottom: 15px
}

label.custom-checkbox,
label.custom-radio {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0
}

label.custom-checkbox>input,
label.custom-radio>input {
    height: 0;
    z-index: -100!important;
    opacity: 0;
    position: absolute
}

label.custom-checkbox>input:checked+span:before,
label.custom-radio>input:checked+span:before {
    content: "\f00c";
    font-weight: 300
}

label.custom-checkbox>input:disabled+span,
label.custom-radio>input:disabled+span {
    color: #ddd;
    cursor: not-allowed
}

label.custom-checkbox>input:disabled+span:before,
label.custom-radio>input:disabled+span:before {
    border-color: #ddd!important;
    cursor: not-allowed
}

label.custom-checkbox>span,
label.custom-radio>span {
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 16px;
    font-weight: 300;
    cursor: pointer;
    padding-left: 22px;
    width: 100%
}

label.custom-checkbox>span:before,
label.custom-radio>span:before {
    cursor: pointer;
    font-family: fontAwesome;
    font-weight: 300;
    font-size: 12px;
    color: #666;
    content: "\a0";
    background-color: transparent;
    border: 1px solid #d6d6d6;
    border-radius: 0;
    display: inline-block;
    text-align: center;
    height: 16px;
    line-height: 14px;
    min-width: 16px;
    margin-right: 6px;
    position: relative;
    top: 0;
    margin-left: -22px;
    float: left
}

.auth-main,
body,
html {
    height: 98%
}

label.custom-checkbox>span:hover:before,
label.custom-radio>span:hover:before {
    border-color: #4db1a7
}

.nowrap {
    white-space: nowrap
}

.cut-with-dots {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block
}

label.custom-radio>input:checked+span:before {
    content: "\f111"
}

label.custom-radio>span:before {
    border-radius: 16px;
    font-size: 9px
}

label.custom-input-primary>span:before {
    color: #209e91
}

label.custom-input-primary>span:hover:before {
    border-color: #209e91
}

label.custom-input-success>span:before {
    color: #90b900
}

label.custom-input-success>span:hover:before {
    border-color: #90b900
}

label.custom-input-warning>span:before {
    color: #dfb81c
}

label.custom-input-warning>span:hover:before {
    border-color: #dfb81c
}

label.custom-input-danger>span:before {
    color: #e85656
}

label.custom-input-danger>span:hover:before {
    border-color: #e85656
}

.form-horizontal .checkbox,
.form-horizontal .checkbox-inline,
.form-horizontal .radio,
.form-horizontal .radio-inline {
    padding-top: 0
}

.input-demo {
    line-height: 25px
}

.has-success .control-label {
    color: #666
}

.has-success .form-control-feedback,
.has-success label.custom-checkbox,
.has-success label.custom-checkbox>span:before,
.has-success label.custom-radio,
.has-success label.custom-radio>span:before {
    color: #a6c733
}

.has-success .form-control {
    border: 1px solid #a6c733
}

.has-success .form-control:focus {
    box-shadow: none;
    border-color: #90b900
}

.has-success label.custom-checkbox>span:hover:before,
.has-success label.custom-radio>span:hover:before {
    border-color: #a6c733
}

.has-success .input-group-addon {
    background-color: #a6c733;
    color: #fff
}

.has-warning .control-label {
    color: #666
}

.has-warning .form-control-feedback,
.has-warning label.custom-checkbox,
.has-warning label.custom-checkbox>span:before,
.has-warning label.custom-radio,
.has-warning label.custom-radio>span:before {
    color: #e5c649
}

.has-warning .form-control {
    border: 1px solid #e5c649
}

.has-warning .form-control:focus {
    box-shadow: none;
    border-color: #dfb81c
}

.has-warning label.custom-checkbox>span:hover:before,
.has-warning label.custom-radio>span:hover:before {
    border-color: #e5c649
}

.has-warning .input-group-addon {
    background-color: #e5c649;
    color: #fff
}

.has-error .control-label {
    color: #666
}

.has-error .form-control-feedback,
.has-error label.custom-checkbox,
.has-error label.custom-checkbox>span:before,
.has-error label.custom-radio,
.has-error label.custom-radio>span:before {
    color: #ed7878
}

.has-error .form-control {
    border: 1px solid #ed7878
}

.has-error .form-control:focus {
    box-shadow: none;
    border-color: #e85656
}

.has-error label.custom-checkbox>span:hover:before,
.has-error label.custom-radio>span:hover:before {
    border-color: #ed7878
}

.has-error .input-group-addon {
    background-color: #ed7878;
    color: #fff
}

.has-feedback label~.form-control-feedback {
    top: 21px;
    font-size: 18px
}

.bootstrap-select .btn-default:focus {
    color: #666
}

.bootstrap-select>.dropdown-toggle.btn-danger,
.bootstrap-select>.dropdown-toggle.btn-danger:focus,
.bootstrap-select>.dropdown-toggle.btn-danger:hover,
.bootstrap-select>.dropdown-toggle.btn-info,
.bootstrap-select>.dropdown-toggle.btn-info:focus,
.bootstrap-select>.dropdown-toggle.btn-info:hover,
.bootstrap-select>.dropdown-toggle.btn-inverse,
.bootstrap-select>.dropdown-toggle.btn-inverse:focus,
.bootstrap-select>.dropdown-toggle.btn-inverse:hover,
.bootstrap-select>.dropdown-toggle.btn-primary,
.bootstrap-select>.dropdown-toggle.btn-primary:focus,
.bootstrap-select>.dropdown-toggle.btn-primary:hover,
.bootstrap-select>.dropdown-toggle.btn-success,
.bootstrap-select>.dropdown-toggle.btn-success:focus,
.bootstrap-select>.dropdown-toggle.btn-success:hover,
.bootstrap-select>.dropdown-toggle.btn-warning,
.bootstrap-select>.dropdown-toggle.btn-warning:focus,
.bootstrap-select>.dropdown-toggle.btn-warning:hover {
    color: #fff
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #fff;
    color: #ddd;
    border-color: #e2e2e2
}

.form-control-rounded {
    border-radius: 16px
}

.help-block {
    color: #949494
}

.help-block.error-block {
    display: none
}

.has-error .help-block.error-block.basic-block {
    display: block
}

.input-group-addon-danger {
    background: #e85656;
    color: #fff;
    border-color: #e85656
}

.input-group-addon-warning {
    background: #dfb81c;
    color: #fff;
    border-color: #dfb81c
}

.input-group-addon-success {
    background: #90b900;
    color: #fff;
    border-color: #90b900
}

.input-group-addon-primary {
    background: #209e91;
    color: #fff;
    border-color: #209e91
}

.checkbox-demo-row {
    margin-bottom: 12px
}

.dropdown-menu {
    border-radius: 5px
}

.bootstrap-select.btn-group button.btn.btn-default {
    background-color: #535456;
    color: #FFFFFF;
}

.bootstrap-select.btn-group button.btn.btn-default:hover {
    background: #fff;
    box-shadow: none;
    outline: 0!important
}

.bootstrap-select.btn-group button.btn.btn-default:active {
    background: #fff;
    box-shadow: none
}

.bootstrap-select.btn-group.open>.btn.btn-default.dropdown-toggle {
    background: #fff;
    box-shadow: none;
    border-color: #d6d6d6
}

.bootstrap-select.btn-group.open>.btn {
    border-radius: 5px 5px 0 0
}

.bootstrap-select.btn-group.open .dropdown-menu.open {
    border: 1px solid #dcdcdc;
    border-top: none;
    border-radius: 0 0 5px 5px
}

.bootstrap-select.btn-group.with-search.open .btn-default+.dropdown-menu .bs-searchbox .form-control,
.bootstrap-tagsinput {
    border: 1px solid #cbcbcb;
    background-color: #fff
}

.bootstrap-select.btn-group .notify,
.bootstrap-select.btn-group.with-search.open .btn-default+.dropdown-menu .no-results {
    color: #7d7d7d
}

.bootstrap-tagsinput {
    color: #666;
    border-radius: 5px;
    box-shadow: none;
    max-width: 100%;
    font-size: 14px;
    line-height: 26px;
    width: 100%
}

.bootstrap-tagsinput.form-control {
    display: block;
    width: 100%
}

.bootstrap-tagsinput .tag {
    border-radius: 3px;
    font-weight: 400;
    font-size: 11px;
    padding: 4px 8px
}

.bootstrap-tagsinput .tag [data-role=remove]:hover {
    box-shadow: none
}

.bootstrap-tagsinput input {
    background-color: #fff;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    line-height: 22px;
    font-size: 11px;
    min-width: 53px
}

.bootstrap-tagsinput input::-webkit-input-placeholder {
    color: #666;
    opacity: .8
}

.bootstrap-tagsinput input:-moz-placeholder {
    color: #666;
    opacity: .8
}

.bootstrap-tagsinput input::-moz-placeholder {
    color: #666;
    opacity: .8
}

.bootstrap-tagsinput input:-ms-input-placeholder {
    color: #666;
    opacity: .8
}

.ui-select-multiple.ui-select-bootstrap {
    min-height: 34px;
    padding: 4px 3px 0 12px
}

.progress {
    background: rgba(0, 0, 0, .07)
}

.progress-bar-primary {
    background-color: #209e91
}

.progress-bar-success {
    background-color: #b1ce4d
}

.progress-bar-warning {
    background-color: #dfb81c
}

.progress-bar-danger {
    background-color: #e85656
}

.has-success .input-group-addon {
    border: none
}

.input-group>span.addon-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.input-group>span.addon-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.with-primary-addon:focus {
    border-color: #209e91
}

.with-warning-addon:focus {
    border-color: #dfb81c
}

.with-success-addon:focus {
    border-color: #90b900
}

.with-danger-addon:focus {
    border-color: #e85656
}

.sub-little-text {
    font-size: 12px
}

.auth-block p,
.auth-link,
.auth-sep {
    font-size: 16px
}

html {
    min-height: 520px
}

body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/img/blur-bg.jpg) center center no-repeat;
    background-size: cover;
    will-change: transform;
    z-index: -1
}

.form-control,
.form-control:focus {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 5px;
    color: #fff
}

.form-control::-webkit-input-placeholder,
.form-control:focus::-webkit-input-placeholder {
    color: #fff;
    opacity: .9
}

.form-control:-moz-placeholder,
.form-control:focus:-moz-placeholder {
    color: #fff;
    opacity: .9
}

.form-control::-moz-placeholder,
.form-control:focus::-moz-placeholder {
    color: #fff;
    opacity: .9
}

.form-control:-ms-input-placeholder,
.form-control:focus:-ms-input-placeholder {
    color: #fff;
    opacity: .9
}

.form-control[disabled]::-webkit-input-placeholder,
.form-control[readonly]::-webkit-input-placeholder,
fieldset[disabled] .form-control::-webkit-input-placeholder {
    color: #fff;
    opacity: .6
}

.form-control[disabled]:-moz-placeholder,
.form-control[readonly]:-moz-placeholder,
fieldset[disabled] .form-control:-moz-placeholder {
    color: #fff;
    opacity: .6
}

.form-control[disabled]::-moz-placeholder,
.form-control[readonly]::-moz-placeholder,
fieldset[disabled] .form-control::-moz-placeholder {
    color: #fff;
    opacity: .6
}

.form-control[disabled]:-ms-input-placeholder,
.form-control[readonly]:-ms-input-placeholder,
fieldset[disabled] .form-control:-ms-input-placeholder {
    color: #fff;
    opacity: .6
}

.auth-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.auth-block {
    width: 540px;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(0, 0, 0, .55);
    color: #fff;
    padding: 32px
}

.auth-block h1 {
    font-weight: 300;
    margin-bottom: 28px;
    text-align: center
}

.auth-block a {
    text-decoration: none;
    outline: 0;
    transition: all .2s ease;
    color: #209e91
}

.auth-block a:hover {
    color: #1b867b
}

.auth-block .control-label {
    padding-top: 11px;
    color: #fff
}

.auth-block .form-group {
    margin-bottom: 12px
}

.auth-input {
    width: 300px;
    margin-bottom: 24px
}

.auth-input input {
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 4px 10px;
    outline: 0
}

a.forgot-pass {
    display: block;
    text-align: right;
    margin-bottom: -20px;
    float: right;
    z-index: 2;
    position: relative
}

.al-share-auth,
.auth-link,
.auth-sep {
    text-align: center
}

.auth-link {
    display: block;
    margin-bottom: 33px
}

.auth-sep {
    margin-top: 36px;
    margin-bottom: 24px;
    line-height: 20px;
    display: block;
    position: relative
}

.auth-sep>span {
    display: table-cell;
    width: 30%;
    white-space: nowrap;
    padding: 0 24px;
    color: #fff
}

.auth-sep>span>span {
    margin-top: -12px;
    display: block
}

.auth-sep:after,
.auth-sep:before {
    border-top: solid 1px #fff;
    content: "";
    height: 1px;
    width: 35%;
    display: table-cell
}

.al-share-auth .al-share {
    float: none;
    margin: 0;
    padding: 0;
    display: inline-block
}

.al-share-auth .al-share li {
    margin-left: 24px
}

.al-share-auth .al-share li:first-child {
    margin-left: 0
}

.al-share-auth .al-share li i {
    font-size: 24px
}

.btn-auth {
    color: #fff!important
}

#footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}


/*# sourceMappingURL=../maps/styles/auth-b3459e9183.css.map */