<section data-ng-controller="categories.controller" data-ng-init="init()">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel="" ba-panel-class="with-scroll">
            <div class="horizontal-scroll">
                <div id="search" data-ng-show="showGrid">
                    <table class="table" st-table="smartTableData" style="margin-bottom: 1%;">
                        <tr>
                            <td class="col-sm-12">
                                <div class="input-group" style="margin-top: 1%;"><input type="text" class="form-control with-danger-addon" placeholder="{{smartGrid.searcherPlaceHolder}}" data-ng-model="keyWordSearcher"> <span class="input-group-btn"><button class="btn btn-primary" type="button" data-ng-click="newRecord()" style="margin-left: 4%;">Nuevo</button> <button class="btn btn-primary" type="button" data-ng-click="assignFormat()" style="margin-left: 4%;">Asignacion de divisiones</button></span></div>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div id="newRecord" data-ng-show="isNewRecord">
                    <div class="widgets">
                        <div class="col-md-12">
                            <div ba-panel-title="{{newRecordTitle}}">
                                <form>
                                    <div class="form-group"><span class="span-green">{{newRecordTitle}}</span></div>
                                    <div class="form-group"><input type="text" class="form-control" placeholder="{{NamePlaceHolder}}" data-ng-model="division.name"></div>
                                    <div class="form-group"><textarea class="form-control" placeholder="{{DescriptionPlaceHolder}}" data-ng-model="division.description"></textarea></div>
                                </form>
                                <div class="col-md-4 col-md-offset-4 btn-g-c">
                                    <button type="button" class="col-md-5 col-xs-12 btn btn-primary" data-ng-click="processCategory()">Guardar</button>
                                    <button type="button" class=" col-md-5 col-md-offset-2 col-xs-12 col-xs-offset-0 btn btn-primary" data-ng-click="cancel()">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="assignmentView" data-ng-show="showAssignmentView">
                    <style type="text/css">
                        \r\n .contenedorTablas {
                            \r\n text-align: center\r\n
                        }

                        \r\n .left {
                            \r\n float: left;
                            \r\n
                        }

                        \r\n .right {
                            \r\n float: right;
                            \r\n
                        }

                        \r\n .center {
                            \r\n margin: 0 auto;
                            \r\n display: inline-block\r\n
                        }

                        \r\n\r\n table {
                            \r\n border-collapse: separate;
                            \r\n
                        }

                        \r\n
                    </style>
                    <fieldset>
                        <div class="form-group">
                        <span class="span-green">{{assigmentTitle}}</span>
                        </div>
                        <div>
                        <table>
                            <tr>
                                <span>Seleccione una categoría:</span>
                                <td><select data-ng-model="selectedData.category" data-ng-options="a.Nombre + ' - '  + a.Descripcion for a in smartTableData" data-ng-change="calculatePeso(selectedData.category.IdFormato)"></select></td>
                                <td><span  data-ng-show="selectedData.category.IdFormato>0" data-ng-if="peso>100" style="padding-left: 30px; color:white; background: red">Peso: {{peso}}</span> <span data-ng-show="selectedData.category.IdFormato>0" data-ng-if="peso<=100">Peso: {{peso}}</span></td>
                            </tr>
                        </table>                     
                        <div class="contenedorTablas">
                            <div class="col-lg-6 col-md-12 col-xs-12" style="margin-bottom: 10px;margin-top: 10px;">
                            <div class="col-sm-12 tab-cat t-overf">
                                <table class="col-sm-12">
                                    <thead>
                                    <span class="sub-span-blue">DIVISIONES DISPONIBLES</span>
                                        <tr style="padding-top: 10px;">
                                            <th class="col-sm-9" style="height: 40px;">
                                                <center class="sub-span-blue" style="text-align: left;">NOMBRE</center>
                                            </th>
                                            <th class="col-sm-3" style="height: 40px;">
                                                <center class="sub-span-blue">ACCION</center>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="item in asignacion | filter:{IDFormato:0}">
                                            <td class="col-sm-9">
                                                <center data-ng-bind="item.Nombre" class="th-left"></center>
                                            </td>
                                            <td class="col-sm-3">
                                                <center><a class="btn btn-primary th-center" data-ng-click="makeAssigment(item.IdDivision)" style="margin-bottom: 2%;">Asignar</a></center>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-xs-12" style="margin-bottom: 10px;margin-top: 10px;">
                            <div class="col-sm-12 tab-cat t-overf">
                                <table class="col-sm-12" data-ng-show="selectedData.category.IdFormato>0">
                                    <thead>
                                    <span class="sub-span-blue">DIVISIONES ASIGNADAS</span>
                                        <tr style="padding-top: 10px;">
                                            <th class="col-sm-6" style="height: 40px">
                                                <center class="sub-span-blue">NOMBRE</center>
                                            </th>
                                            <th class="col-sm-3" style="height: 40px">
                                                <center class="sub-span-blue">PESO</center>
                                            </th>
                                            <th class="col-sm-3" style="height: 40px">
                                                <center class="sub-span-blue">ACCION</center>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="item in asignacion | filter:{IDFormato:selectedData.category.IdFormato}">
                                            <td class="col-sm-6">
                                                <center data-ng-bind="item.Nombre" class="th-left"></center>
                                            </td>
                                            <td class="col-sm-3"><input type="text" class="th-center" placeholder="{{PesoPlaceHolder}}" required="" data-ng-model="item.peso" data-ng-change="calculatePeso(selectedData.category.IdFormato)" style="width: 35%;"></td>
                                            <td class="col-sm-3">
                                                <center><a class="btn btn-primary" data-ng-click="makeUnAssigment(item.IdDivision)" style="margin-bottom: 2%;">Remover</a></center>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                            <div class="col-sm-4 col-sm-offset-4">
                                <button type="button" data-ng-disabled="allowToSave" data-ng-click="processAsigment()" class="col-md-5 btn btn-primary">Guardar</button>
                                <button type="button" data-ng-click="cancel()" class="col-md-5 col-md-offset-2 btn btn-primary">Volver</button>
                            </div>
                        </div>
                    </div>
                    </fieldset>
                </div>
                <table class="table table-widthcat" st-table="smartTableData" data-ng-show="showGrid">
                    <tr class="table-header table-title">
                        <td ng-repeat="item in smartGrid.columns" data-ng-bind="item.name"></td>
                    </tr>
                    <tbody>
                        <tr ng-repeat="(id,item) in smartTableData | filter:keyWordSearcher">
                            <td class="table-id select-td" data-ng-bind="item.IdFormato"></td>
                            <td class="select-td" data-ng-bind="item.Nombre" style="text-align: center !important;"></td>
                            <td class="select-td" data-ng-bind="item.Descripcion" style="text-align: left !important;"></td>
                            <td  style="vertical-align: middle !important; text-align: center !important;">
                                <div class="buttons"><button class="btn btn-primary editable-table-button btn-xs" ng-click="editRecord(item.IdFormato)">Editar</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
    </div>
</section>