<div class="content-top clearfix">
    <h1 class="col-xs-12 al-title">{{ activePageTitle }}</h1>
    <ul class="col-xs-12 breadcrumb al-breadcrumb">
        <li><a href="#/dashboard">Inicio</a></li>
        <li>{{ activePageTitle }}</li>
    </ul>
</div>